<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ attribute name="formPrefix" required="true" type="java.lang.String"%>
<%@ attribute name="idPrefix" required="true" type="java.lang.String"%>
<spring:htmlEscape defaultHtmlEscape="false" />
<div class="row-fluid margin-top-17">
	<div class="bc-accordion ferry-drop">
		<c:choose>
			<c:when test="${empty destinationCode}">
				<label>
					<spring:theme code="label.farefinder.vacation.description" text="Destination" />
				</label>
				<div id="vacation-accordion1" class="accordion-34 accordion-bg-white component-to-top">
					<h3>
						<span class="dropdown-text">
							<strong class="drop-text destination-text">
							<c:choose>
                                <c:when test="${not empty travelFinderForm.accommodationFinderForm.destinationLocationName}">
                                    ${travelFinderForm.accommodationFinderForm.destinationLocationName}
                                </c:when>
                                <c:otherwise>
                                    <spring:theme code="label.farefinder.vacation.homepage.destination.dropdown.placeholder" text="Select a destination (city)" />
                                </c:otherwise>
							</c:choose>
							</strong>
							<span class="custom-arrow"></span>
						</span>
					</h3>
					<div>
						<div class="vacation-range-box">
							<div class="form-height-fix style-3">
								<c:forEach var="bcfVacationLocationEntry" items="${bcfVacationLocations}">
									<ul>
										<c:set var="geoAreaVacationLocation" value="${bcfVacationLocationEntry.key}" />
										<c:set var="cityVacationLocations" value="${bcfVacationLocationEntry.value}" />
										<span class="second-span pl-5 pb-3">${geoAreaVacationLocation.name}</span>
										<c:forEach var="cityVacationLocation" items="${cityVacationLocations}">
											<li>
												<a class="sub-link" data-code="${cityVacationLocation.code}" data-city="" data-terminal="">${cityVacationLocation.name}</a>
											</li>
										</c:forEach>
									</ul>
								</c:forEach>
							</div>
						</div>
					</div>
				</div>
				<form:hidden path="${fn:escapeXml(formPrefix)}accommodationFinderForm.destinationLocation" class="y_accommodationDestinationLocation" />
			</c:when>
			<c:otherwise>
				<label>
					<spring:theme code="label.farefinder.vacation.description" text="Destination" />
				</label><br>
				${destinationName}
				<input type="hidden" id="y_destinationCode" value="${destinationCode}" />
				<form:hidden path="${fn:escapeXml(formPrefix)}accommodationFinderForm.destinationLocation" class="y_accommodationDestinationLocation" value="${destinationCode}" />
			</c:otherwise>
		</c:choose>
	</div>
	<div class="bc-accordion ferry-drop">
		<label>
			<spring:theme code="label.farefinder.vacation.route" text="Route" />
		</label>
		<div id="vacation-accordion2" class="accordion-34 accordion-bg-white component-to-top">
			<h3>
				<strong class="dropdown-text">
					<span class="drop-text">
					<c:choose>
                        <c:when test="${not empty travelFinderForm.accommodationFinderForm.destinationLocationName}">
                            ${travelFinderForm.fareFinderForm.arrivalLocationName}
                        </c:when>
                        <c:otherwise>
                            <spring:theme code="label.farefinder.vacation.route.dropdown.placeholder" text="Select a route" />
                        </c:otherwise>
                    </c:choose>
					</strong>
					<span class="custom-arrow"></span>
				</span>
			</h3>
			<div>
				<div class="vacation-range-box">
					<div class="form-height-fix style-3">
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bc-accordion ferry-drop vacation-calender-section">
		<ul class="nav nav-tabs vacation-calender package-hotel-details-ul">
			<li class="tab-links tab-depart">
				<label>
					<spring:theme code="label.farefinder.vacation.date.checkin" text="Check-in-date" />
				</label>
				<a data-toggle="tab" href="#check-in" class="nav-link component-to-top">
					<div class="vacation-calen-box vacation-ui-depart">
						<span class="vacation-calen-date-txt">
							<spring:theme code="label.farefinder.vacation.date.placeholder" text="Date" />
						</span>
						<c:choose>
						    <c:when test="${not empty travelFinderForm.accommodationFinderForm.checkInDateTime}">
						        <span class="vacation-calen-year-txt">${travelFinderForm.accommodationFinderForm.checkInDateTime}</span>
						    </c:when>
						    <c:otherwise>
						        <span class="vacation-calen-year-txt current-year-custom"></span>
						    </c:otherwise>
						</c:choose>
						<i class="bcf bcf-icon-calendar bcf-2x bc-icon bc-icon--big" aria-hidden="true"></i>
					</div>
				</a>
			</li>
			<div class="tab-content package-hotel-details-content">
				<div id="check-in" class="tab-pane input-required-wrap  depart-calendar">
					<div class="bc-dropdown calender-box tab-content-depart" id="js-depart">
						<label>
							<spring:theme code="label.farefinder.vacation.date.dateformat" text="Search date:mm/dd/yyyy" />
						</label>
						<form:input type="text" path="${fn:escapeXml(formPrefix)}accommodationFinderForm.checkInDateTime" class="form-control datePickerDeparting  datepicker bc-dropdown depart datepicker-input  y_${fn:escapeXml( idPrefix)}FinderDatePickerCheckIn" placeholder="Check In" autocomplete="off" />
						<div id="datepicker" class="bc-dropdown--big"></div>
					</div>
				</div>
			</div>
			<li class="tab-links tab-return">
				<label>
					<spring:theme code="label.farefinder.vacation.date.checkout" text="Check-out-date" />
				</label>
				<a data-toggle="tab" href="#check-out" class="nav-link component-to-top">
					<div class="vacation-calen-box vacation-ui-return">
						<span class="vacation-calen-date-txt">
							<spring:theme code="label.farefinder.vacation.date.placeholder" text="Date" />
						</span>
						<c:choose>
                            <c:when test="${not empty travelFinderForm.accommodationFinderForm.checkOutDateTime}">
                                <span class="vacation-calen-year-txt">${travelFinderForm.accommodationFinderForm.checkOutDateTime}</span>
                            </c:when>
                            <c:otherwise>
                                <span class="vacation-calen-year-txt current-year-custom"></span>
                            </c:otherwise>
                        </c:choose>
						<i class="bcf bcf-icon-calendar bcf-2x bc-icon bc-icon--big" aria-hidden="true"></i>
					</div>
				</a>
			</li>
			<div class="tab-content package-hotel-details-content">
				<div id="check-out" class="tab-pane input-required-wrap return-calendar">
					<div class="bc-dropdown calender-box tab-content-return" id="js-return">
						<label>
							<spring:theme code="label.farefinder.vacation.date.dateformat" text="Search date:mm/dd/yyyy" />
						</label>
						<form:input type="text" path="${fn:escapeXml(formPrefix)}accommodationFinderForm.checkOutDateTime" class="form-control datePickerReturning  datepicker arrive datepicker-input bc-dropdown  y_${fn:escapeXml( idPrefix)}FinderDatePickerCheckOut" placeholder="Check Out" autocomplete="off" />
						<div id="datepicker1" class="bc-dropdown--big"></div>
					</div>
				</div>
			</div>
		</ul>

	</div>
</div>
<div class="clearfix"></div>
<div class="row-fluid">
  <div class="rooms-wrapper">
      <label><spring:theme code="label.farefinder.vacation.rooms.no" text="Number of rooms" /></label>
      <div class="input-group input-btn-mp">
          <span class="fa bcf bcf-icon-remove btn-number" disabled="disabled" data-type="minus" data-field="accommodationFinderForm.numberOfRooms"></span>

			<c:set var="noOfRoomsMaxValue" value="${jalosession.tenant.config.getParameter('passenger.type.number.rooms.max.count')}"/>
            <c:choose>
                <c:when test="${not empty travelFinderForm.accommodationFinderForm.numberOfRooms}">
                    <input type="text" name="accommodationFinderForm.numberOfRooms" class="input-number min-input2" value="${travelFinderForm.accommodationFinderForm.numberOfRooms}" min="1" max="${noOfRoomsMaxValue}" readonly>
                </c:when>
                <c:otherwise>
                    <input type="text" name="accommodationFinderForm.numberOfRooms" class="input-number min-input2" value="1" min="1" max="${noOfRoomsMaxValue}" readonly>
                </c:otherwise>
            </c:choose>

          <span class="fa bcf bcf-icon-add btn-number" data-type="plus" data-field="accommodationFinderForm.numberOfRooms"></span>
      </div>
  </div>
  <div class="room-widget-wrapper">
  </div>

  <div class="populatedChildAges">
    <c:if test="${not empty travelFinderForm.accommodationFinderForm.roomStayCandidates}">
        <c:forEach items="${travelFinderForm.accommodationFinderForm.roomStayCandidates}" var="originalRoomStayCandidate" varStatus="roomStayCandidatesStatus">
            <c:forEach items="${originalRoomStayCandidate.passengerTypeQuantityList[1].childAges}" var="originalChildPassengerAge" varStatus="originalChildPassengerAgeStatus">
                <input type="hidden" id="room_${originalRoomStayCandidate.roomStayCandidateRefNumber}_child_${originalChildPassengerAgeStatus.index}" value="${originalChildPassengerAge}" />
            </c:forEach>
             <c:forEach var="entry" items="${originalRoomStayCandidate.passengerTypeQuantityList}" varStatus="i">
                 <c:if test="${entry.passengerType.code eq 'child'}">
                    <div id="child-box-wrapper${ roomStayCandidatesStatus.index}${i.index}" class="mb-4 child-box-wrapper clearfix"></div>

                    <c:forEach var="childAge" items="${entry.childAges}" varStatus="k">
                        <div id="childAge${ roomStayCandidatesStatus.index}${i.index}${k.index}" class="hidden">${childAge}</div>
                    </c:forEach>
                 </c:if>
              </c:forEach>
        </c:forEach>
    </c:if>
  </div>

  <div class="snippets hidden">
    <div class="row room-widget hidden">
        <div class="bc-accordion select-guest-custom">
           <label class="room-title"><spring:theme code="label.farefinder.vacation.rooms.title" text="Room" /> <span></span></label>
          <div class="accordion-bg-white component-to-top select-guest-accordion js-accordion js-accordion-default">
              <h3><span><spring:theme code="label.farefinder.vacation.rooms.guest" text="Select guest" /> <span class="custom-arrow"></span></span></h3>
              <div class="row ">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-10 nopadding">
				          <c:set var="adultMaxValue" value="${jalosession.tenant.config.getParameter('passenger.type.adult.max.count')}"/>
                          <label><spring:theme code="label.farefinder.vacation.rooms.adult" text="Adult 12 yrs+" /></label>
                          <div class="input-group input-btn-mp">
                              <span class="fa bcf bcf-icon-remove btn-number" disabled="disabled" data-type="minus" data-field=""></span>
                              <input type="text" name="" class="form-control input-number adult-qty" value="1" min="1" max="${adultMaxValue}" readonly>
                              <span class="fa bcf bcf-icon-add btn-number" data-type="plus" data-field=""></span>
                          </div>
                      </div>
			          <c:set var="childMaxValue" value="${jalosession.tenant.config.getParameter('passenger.type.child.max.count')}"/>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-10 nopadding">
                          <label><spring:theme code="label.farefinder.vacation.rooms.child" text="Child 0-12 yrs" /></label>
                          <div class="input-group input-btn-mp">
                              <span class="fa bcf bcf-icon-remove btn-number" disabled="disabled" data-type="minus" data-field=""></span>
                              <input type="text" name="" class="form-control input-number child-qty" value="0" min="0" max="${childMaxValue}" readonly>
                              <span class="fa bcf bcf-icon-add btn-number" data-type="plus" data-field=""></span>
                              <div class="room-number hidden"></div>
                          </div>

                      </div>

                  <div class="mb-4 child-box-wrapper clearfix">
                  </div>
              </div>

          </div>

            <div class="vacation-guest-gray hidden">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p><span class="adult-count">1</span> x <spring:theme code="label.farefinder.vacation.rooms.adult" text="Adult 19 yrs+" /></p>
                    <p><span class="child-count">0</span> x <spring:theme code="label.farefinder.vacation.rooms.child" text="Child 0-18 yrs" /></p>
                  </div>
                </div>
            </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 child-box">
      <label class="child-label-name"><spring:theme code="label.farefinder.vacation.rooms.child.title" text="Child" /> <span class="child-label-name-span">1</span> <spring:theme code="label.farefinder.vacation.rooms.age" text="age" /></label>
      <select class="form-control custom-select">

      </select>
  </div>
  </div>
   <div class="row-fluid margin-top-17 col-lg-8 padding-0">
  <div class="fnt-14 text-left">
  All vacation packages include your ferry sailing and accommodations.
  </div>
  </div>
  <div class="book-a-package-btn">
    <label class="hidden-xs">&nbsp;</label>
    <c:choose>
        <c:when test="${empty travelRouteData}">
            <form:button class="btn btn-primary btn-block" value="Submit" id="bookAPackage">
                <spring:theme code="label.farefinder.vacation.rooms.package" text="Book a package" />
            </form:button>
        </c:when>
        <c:otherwise>
            <form:button class="btn btn-primary btn-block" type="button" value="Submit" id="searchRooms" >
                <spring:theme code="text.cms.accommodationfinder.packagepromotion.button.submit" text="Search" />
            </form:button>
        </c:otherwise>
    </c:choose>
  </div>
  </div>
  <div class="clearfix"></div>

<form:hidden path="${fn:escapeXml(formPrefix)}travelRoute" class="y_travelFinderTravelRoute" />
<form:hidden path="${fn:escapeXml(formPrefix)}travelRouteName" class="y_travelFinderTravelRouteName" />
<form:hidden path="${fn:escapeXml(formPrefix)}accommodationFinderForm.modify" value="${modify}"/>
