<%@ tag language="java" pageEncoding="UTF-8"%>
<%@ attribute name="accommodationReservationDataList" required="true" type="com.bcf.facades.reservation.data.AccommodationReservationDataList"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%@ taglib prefix="accommodationReservation" tagdir="/WEB-INF/tags/addons/bcfcommonsaddon/responsive/accommodationreservation"%>
<spring:htmlEscape defaultHtmlEscape="false" />
<c:forEach items="${accommodationReservationDataList.accommodationReservations}" var="reservation" varStatus="accIdx">
	<c:if test="${reservation.bookingStatusCode ne 'CANCELLED' && reservation != null}">
		<div class="journey-wrapper">
			<div class="panel panel-default my-account-secondary-panel room-details">
				<div class="panel-heading">
					<h3 class="panel-title">
						<spring:theme code="text.cms.accommodationbreakdown.stayat" text="Stay at" />
						&puncsp;${fn:escapeXml(reservation.accommodationReference.accommodationOfferingName)}
					</h3>
				</div>
				<div class="panel-body" id="room-details-section">
					<c:forEach items="${reservation.roomStays}" var="roomStay" varStatus="idx">
						<div class="col-xs-10">
							<accommodationReservation:roomTypeBreakdown roomStay="${roomStay}" index="${idx.index}" />
							<accommodationReservation:roomstaybreakdown roomStay="${roomStay}" index="${idx.index}" />
							<accommodationReservation:selectedRoomPreferences roomStay="${roomStay}" />
						</div>
					</c:forEach>
					<div class="col-xs-10">
						<span class="cart-total pull-right"><spring:theme code="text.cms.accommodationbreakdown.total" text="Total:" />&puncsp;${fn:escapeXml(reservation.totalRate.actualRate.formattedValue)}</span>
					</div>
				</div>
			</div>
		</div>
	</c:if>
</c:forEach>
