<%@ tag language="java" pageEncoding="UTF-8"%>
<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="ferry" tagdir="/WEB-INF/tags/addons/bcfstorefrontaddon/responsive/ferrylisting"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ attribute name="transportVehicles" required="true" type="java.util.List"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="format" tagdir="/WEB-INF/tags/shared/format"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<c:if test="${fn:length(transportVehicles) gt 0}">
   <c:forEach var="transportVehicle" items="${transportVehicles}" varStatus="Count">
      <ferry:ferry transportVehicle="${transportVehicle}" />
      <c:if test="${Count.count % 2 eq 0}">
         </div>
         <div class="row">
      </c:if>
   </c:forEach>
</c:if>
