	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/08/2018 13:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./../fonts/Flaticon.woff") format("woff"),
       url("./../fonts/Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;

}

.flaticon-car:before { content: "\f100"; }
.flaticon-car-1:before { content: "\f101"; }
.flaticon-motorcycle:before { content: "\f102"; }
.flaticon-truck:before { content: "\f103"; }
.flaticon-bus-side-view:before { content: "\f104"; }