/*************************** media query start *************************/
@media (min-width:768px){


.menu-mega-ui .dropdown .dropdown-menu{max-height:0;display:none;overflow:hidden;width:100%;}
.menu-mega-ui .dropdown.open .dropdown-menu{max-height:0;display:block;overflow:hidden;width:100%;}
.menu-mega-ui .xqdadropdown.open .dropdown-menu{transition:max-height 1s;max-height:200vh;opacity:1;}
.navbar-brand{padding:5px 15px;}
.menu-mega-ui .nav > li.dropdown.open{position:static;}
.menu-mega-ui .nav > li.dropdown.open .dropdown-menu{display:table;border-radius:0px;width:100%;left:0;right:0;border-top:1px solid #f5f5f5;}
.ui-tabs .ui-tabs-nav li.ui-state-hover{background:#0079a5;}
#selectedTab .ui-tabs .ui-tabs-nav li.ui-state-hover a{color:#fff; cursor: pointer}
.ui-datepicker .ui-state-hover{background:#003366;color:#ffffff;border-radius:5px;}
.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover{background:none;border:none;}
.btn-curn{margin-top:40px;}
.terminal-listing-tab .ui-tabs-nav li.ui-state-hover a{color:#003366;}
.navbar-minify-tablet .navbar-collapse.collapse {overflow-y:auto;height:100%!important;top:inherit;}
#js-home-tab {margin-top: 28;} /*drop it for iPad*/
}

@media screen and (max-width:1024px){
.destination-landing-link a i{float:right;margin-right:10px;}
#accommodation-finder-panel .rooms-wrapper {width: 25%;}
#accommodation-finder-panel .book-a-package-btn {margin-top: 20px;}
.room-type-stay-sec { margin-top:20px;}
.accommodation-features{padding:25px 15px 0 15px;}
.available-room-img { padding-left: 0}
.accommodation-details .accommodation-image img{border-top-left-radius:5px;border-top-right-radius:5px;}
.package-gray-box{border-bottom-left-radius:25px;border-bottom-right-radius:5px;}
.package-gray-box{padding:0 !important;}
.mobile-pl-0{padding-left:0;}
.mobile-pl-1{padding-left:10px !important;}
.mobile-pr-1{padding-right:15px !important;}
.mobile-px-0{padding-left:0;padding-right:0;}
.filter-li{width:47.5%;}
.page-vacationBookPackagePage .filter-li{width:100%;}
.m-border-l-none{border-left:none;}
.m-mb-2{margin-bottom:20px !important;}
.vacation-blue-center-box{width:50%;}
.bc-accordion.ferry-drop.current-condition {width:100%;}
}

@media (max-width:991px){
.confirm-btn-bookable{width:100%;margin-top:10px; margin-bottom: 30px;}
#accommodation-finder-panel .bc-accordion.ferry-drop.vacation-calender-section { width: 100%;}
#accommodation-finder-panel .bc-accordion.ferry-drop { width: 100%;}
#accommodation-finder-panel .vacation-calender-section .vacation-calender li { width: 50%;}
.form-box-landing .custom-select { background-size: 20px 20px !important; background-position-x: 98% !important;}
.margin-top-30-mobile{margin-top:30px;}
.rooms-wrapper { width: 100%;}
.room-widget-wrapper { width: 70%; padding-right: 0}
.bc-accordion.select-guest-custom { margin-top: 0; padding: 0 20px;}
.book-a-package-btn { width :100%; margin-top: 30px;}
.bc-accordion.ferry-drop { padding:0;}
.select-guest-custom .ui-accordion .ui-accordion-content{width:100%;}
.bc-accordion.ferry-drop, .bc-accordion.ferry-drop.current-condition{width:100%;}
.form-box-landing{position:relative;}
#js-roundtrip .nav-tabs li{width:48%;}
#js-roundtrip .nav-tabs li:last-child {margin-left:1%;}
.padding-major{padding-left:0px !important;}
.custom-ui-detail .ui-tabs-nav li{width:49%;}
.bc-accordion.ferry-drop.vacation-calender-section{width:100%;}
.btn-nav{text-align:left;}
.navigation-button-group{padding-left:20px;padding-right:20px;background:#f5f5f5 }
.navigation-button-group button{border-bottom:1px solid #EEE;border-left:0;border-right:0}
.navigation-button-group.btn-group .btn + .btn{margin-left:0;}
.navigation-button-group.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-top-left-radius:0;border-bottom-left-radius:0;}
.navigation-button-group.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){border-bottom-left-radius:0;border-bottom-right-radius:0;border-bottom:0;}
.no-padding-m{padding-right:0;padding-left:0;}
.from-circle{right:20px;bottom:-30px;top:auto;left:auto;}
.location-bx{left:20px;bottom:20px;}
.schedule-table-resize{width:100%;}
.tabel-ferry-build .list-inline>li{width:50%}
.card .card-no-body .card-media-wrapper{width: 100%;}
.discover-box-right-img .card-title h2, .discover-box-left-img .card-title h2{line-height: 1.1;font-weight: 700;font-size: 30px;}
.packageOverview .dividerLine{ border-right: 0px solid; border-left: 0px solid; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee; padding: 20px 0px;}
.leftSpacingOff, .rightSpacingOff{padding: 0}
h1, .h1{font-size: 40px; line-height: 52px; font-weight: 800;}
h2, .h2{font-size: 24px; line-height: 28px; font-weight: 800;}
h3, .h3{font-size: 24px; line-height: 30px; font-weight: 700;}
h4, .h4{font-size: 18px; line-height: 24px; font-weight: bold; font-weight: 700;}
h5, .h5{font-size: 16px; line-height: 22px; font-weight: bold; font-weight: 700;}
.h1-non-hero{font-size: 26px; line-height: 30px; font-weight: 800;}
.h2-feature-promo{font-size: 32px; line-height: 38px; font-weight: 800;}
.btn-group.navigation-button-group button.btn-nav{border-bottom: 1px solid #d2d2d2; padding: 25px 20px;}
.btn-group.navigation-button-group button.btn-nav:last-child{border-bottom: none; }
button#bookAPackage{position: relative; bottom: 20px;}
.mobile-button-group-arrow{display: inline-block; float: right; color: #0f7aa7; font-size: 20px;font-weight: 400; padding-top: 3px;}
.container-fluid .container{ width: auto; padding-right: 0; padding-left: 0;}
.soldOut-text-centerd{left: 60%;}
.cartid-display{margin-right: 0;}
.bc-accordion.ferry-drop.schedules-calender{width: 100%}
.schedule-btn-width{width: 100%; margin-top: 0;}
.paddingLeftOff{padding-left: 20px;}
.mobile-button-group-arrow{display: none}
.mobile-login-user-link, .mobile-menu-link{font-size: 12px;}
.navbar-toggle{padding: 15px 0px 10px 0;margin: 0 20px; color: #000}
}

@media only screen and (min-width:768px){.northern-card-text{width:22%;float:right;}


.custom-conditions-landingpage .min-h-landing{min-height:250px;}
.dropdown-toggle .down-a{display:none;}
.menu-mega-ui .navbar-nav>li>a, .menu-mega-ui .navbar-nav>li>a{background-color:transparent;border-bottom:4px solid transparent;}
.menu-mega-ui .navbar-nav>.active>a, .menu-mega-ui .navbar-nav>.active>a:focus,.menu-mega-ui .navbar-nav>.active>a:hover{background-color:transparent; border-color:transparent; }
.navbar-default .navbar-nav>.underline.open>a {border-bottom:4px solid;}
.mobile-logo{display: none;}
.northern-sailing-card .paddingRightOff{padding-right:20px}
#ferry_details .row {display: flex;flex-wrap: nowrap;}
#ferry_details .row .ferry-bx {min-height: 100%;}
#ferry_details .row .col-lg-6{ margin: 20px 0;}
.btn-custome-width{width: 33.33%;}
}

@media only screen and (max-width:767px){
.margin-top-30-mobile{margin-top:30px;}
.sailing-slide-box-cover{border-spacing:0px 0;overflow-x:scroll;overflow-y:hidden;white-space:nowrap;}
.room-type-stay, .hotel-detail-tab-calender ul.nav-tabs{padding:0 !important;}
.page-paymentMethodPage #globalMessages .container{padding:0;}
.payment-alerts .icon-alert{width:80px;}
.payment-alerts .close{top:10px;}
.vacation-calender .tab-links:last-child { margin-top: 30px;}
#accommodation-finder-panel .vacation-calender-section .vacation-calender li {padding-right: 0}
#accommodation-finder-panel .rooms-wrapper,
#accommodation-finder-panel .book-a-package-btn,
#accommodation-finder-panel .room-widget-wrapper {width: 100%;}
#y_fareFinderForm .bc-accordion .ferry-drop { padding-right: 0;}
#accommodation-finder-panel .book-a-package-btn {margin-top: 50px;}
.custom-account-profile .ui-accordion-content{padding:10px 0 !important;}
.landing-row-margin{margin-top:10px;}
.deal-offer-right-box .availability-box{width:100%;position:static;}
.schedule-grid a{font-size:14px;}
.accommodations_select .filter-li{margin-bottom:10px;}
.ui-dialog{width:100% !important;}
.landing-row{margin-left:-30px;margin-right:-30px;border-radius:0;}
.m-text-center{text-align:center;}
.available-room-right{padding-right:15px;}
#editPackageData .padding-50{padding:5px;}
.package-header-top-box .mb-1{margin-bottom:15px !important;}
.pageLabel--experience-landing .box-gray-bg h1, .pageLabel--experience-landing .box-blue-bg h1{font-size:20px;}
.m-p-0{padding:0 !important;}
.m-brdr-radius{border-radius:0 !important;}
.activity-item-section .activity-item-box{padding:0;}
.activity-featured-img .image img{border-radius:10px 10px 0 0;}
.activity-featured-blue-box{border-radius:0 0 10px 10px;}
.activity-featured-blue-box .price{right:25px;top:-40px;}
.total-price-section .p-chart{padding:0 10px;}
.package-wizard ul.nav-wizard li{text-align:left;margin-right:0;}
.m-order-1{order:1;}
.m-order-2{order:2;}
.activity-listing-filter{width:100%;}
.sailing-ferry-name{margin-top:10px !important;}

.vacation-calender-section .vacation-calender li a{padding:0;}
.filter-facets .accommodations_select ul li{width:100%;}
.pageLabel-paymentMethod .vacation-booking-details ul.vacation-booking-box{padding-left:20px;}
.pageLabel-paymentMethod .vacation-booking-details ul.vacation-booking-box li{width:100%;}
.pageLabel-paymentMethod .vacation-booking-details ul.vacation-booking-box li:first-child{border-bottom:solid #ccc 1px;padding-bottom:20px;margin-bottom:20px;}


.about-us-box{padding:15px 5px;}
.accommodation-features .ul-disc li{width:100% !important;}
.m-text-left{text-align:left !important;}
.package-list-sortby .custom-arrow{right:15px;}
.custom-detail-accordion{margin:10px 0;}
.mobile-right .pull-right{float:inherit !important;}
.custom-ui-detail .ui-tabs-nav li a{padding:1em 14px;}
.custom-ui-detail .ui-tabs-nav{margin:0;padding:.2em 0 0;}
.vacation-landing-call h1{font-size:40px;}
.form-box-landing .ui-tabs .ui-tabs-panel{box-shadow:none;border-radius:0;}
.package-wizard ul.nav-wizard li .nav-wizard-text{display:none;font-size:13px;}
.package-wizard ul.nav-wizard li.active .nav-wizard-text{display:inline;}
.vacation-blue-center-box{width:100%;}
.m-p-0{padding:0;}

 .package-details-ul li{width:41%;font-size:14px;}
.package-details-tabs ul.nav-tabs.save-nav-tab-on-change{padding:0 15px !important;}
 ul.accommodation-items{padding:0 !important;}
#editPackageData{padding:5px;}
#m-border-right{border-right:solid}
.deal-details{padding:15px;}
.m-p-0{padding:0;}
.package-footer-content-box .content{width:100%;}
.m-border-l-none{border-left:none;}
.package-footer-img .border-right{border:none !important;}
.m-text-center{text-align:center;}
.price-select{float:none;}
.mobile-logo{border-bottom:1px solid #ccc;height:58px;}
.home-banner-text-sm .white-button{background-color:#fefefe;margin-top:0px;}
.deal-width .owl-nav{display:none;}
.home-landing-mob{border-radius:0px !important;}
.main-links .footer-m{margin-bottom:40px;}
.main-links .footer-m:last-child{margin-bottom:0;}
.footer-bottom-links{text-align:center;}
.vehicle-radio-box ul li{display:inline-block;padding:0px 6px;}
.vehicle-radio-box ul{padding-left:0px;}
.what-kind .vacation-landing-call{width:100%;float:left;padding-right:15px;padding-left:15px;}
.vacation-landing-talk .col-lg-4{width:100%;}


.experience-details-carousel .card-body {padding:0 40px;}
.page-vacationBookPackagePage .offers-grouped-component .vacation-deal-component .card-title{width: 100%;}
.btn-group, .btn-group-vertical {display: inline-block; position:relative;}
.bc-accordion.select-guest-custom { margin-top: 30px;}
.sort-by-align p, .sort-by-align ul{margin-top:0}
.sort-by-align{margin-top: 20px;}
ul.collapse-sailling{padding: 0;position:relative;z-index:10000;}
ul.collapse-sailling li{padding: 20px; background: #f5f5f5; border-bottom: 1px solid white; list-style: none; margin-left:0;width:100%;display:block;}
.menu-mega-ui .navbar-nav>li>a{padding: 15px 20px}
.mega-dropdown-menu a:hover, .mega-dropdown-menu a:focus{background: none;}
.schedules-calender .tab-links:last-child {margin-top:0;}
}

@media screen and (max-width:575px){.unit-converter__input-container{text-align: center;}
.passenger-block-text .col-md-2.col-xs-6:last-child{padding-right: 20px !important;}
.vehicle-motorcyle-trailer-text{margin-left:0px !important;margin-top:0px !important;}
.error-msg-icon{width:16%;float:left;text-align:left;}
.error-msg-text-box{width:84%;float:left;text-align:left;}
.package-wizard ul.nav-wizard li{display:inline-block;margin-right:20px;float:left;}
.nav-wizard li .display-iflex .display-block{display:none;}
.nav-wizard li.active .display-iflex .display-block{display:block;}
.package-wizard ul.nav-wizard li{margin-right:20px;}
.majorterminals-heading span{padding:0 5px;width:90%;vertical-align:middle;}
.custom-ui-detail{border:none;margin-top:0;}
.pull-right.medium-grey-text p{text-align:left;}
.pull-right.medium-grey-text{margin-bottom:0px;}
.experience-map{border-radius:0px;}
.pageLabel-activityDetails .vacation-calender-section{margin-bottom:0px;}
.travelforms{padding:30px 15px;}
.img-center-mobile{text-align:center;}
.current-condition-sailing-detail{padding:40px 0 0 0;}
.current-condition-sailing-detail .bg-white{padding:20px;}
.sailing-select{padding:17px 13px 17px 20px;}
.discover-box button{font-size:14px;}
.page-amenitiesPage .discover-box{display:grid;}
.amenities-order-2{order:2;}
.amenities-order-1{order:1;}
.view-itinerary-box .panel-body .p-tab-content{padding-left:0px;}
.view-itinerary-box .p-flow:before{height:207px;}
.ui-tabs .ui-tabs-panel{padding:1em 0.4em;}
.homepage-search-box{top:352px;}
.activity-image-box{padding:30px 20px 30px 20px;border-radius:10px;}
.activity-image-box img{border-radius:10px 10px 0 0;}
.awards-section .activity-featured-img .image{height:250px;}
.activity-featured-blue-box{padding:20px;}
.sailing-slide-bx-date-div{font-size:14px;}
.sailing-slide-bx-price-div{font-size:14px;}
.sailing-slide-bx-text-div{font-size:14px;}
.sailing-slide-box{padding:5px 15px;}
.sailing-slide-box.inactiveLink{font-size:16px;padding:10px 17px;}
.col-lg-2.confirm-btn-bookable{position:inherit;right:0;bottom:0px;}
.p-card .fnt-24{font-size:15px;}
.sailing-select .fnt-24{font-size:15px;}
.green-bar-msg{background:#caec4f;padding:8px;font-size:15px;text-align:center;}
.green-bar-msg span{font-size:18px;margin-right:3px;}
.sailing-ferry-name{font-size:13px;}
.home-bx-text h2{font-size:22px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;line-height:25px;min-height:45px;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.news-order-mob h1{order:1;}
.news-order-mob .owl-slider-home-news{order:2;}
.news-order-mob p{order:3;}
.home-banner-text-sm .location-bx{left:15px;}
.home-b-m{margin-top:-36px !important;}
.mt-30-mob{margin-top:30px !important;}
.vehicle-view-details {display:block;}
.p-sailing .owl-stage-outer .owl-stage .owl-item.center .p-detail{font-size:14px !important;}
.input-btn-mp input{width:40px;height:40px;float:left;border:none;text-align:center;}
.input-btn-mp .fa{width:40px;height:40px;float:left;border:none;text-align:center;}
.modal-dialog{margin:0px;}
.pass-fluid-left{width:60%;}
.p-sailing .owl-stage-outer .owl-stage .owl-item.center .p-detail{font-size:14px !important;}
.modal-dialog{margin:0px;}
.pass-fluid-left{width:60%;}
.pass-fluid-right{width:40%;}
.passengers-arrow-icon{transform:translate(8%, 31%) !important;}
.width-route-fare .item{webkit-box-flex:0;-webkit-flex:0 0 100% !important;flex:0 0 100% !important;max-width:100% !important;padding-right:15px;padding-left:15px;}
.much-more-width .col-xl-4{flex:0 0 100%;max-width:100%;}
.more-btn-a a:first-child{background-color:#0079a5 !important;margin-bottom:21px;height:50px;text-shadow:none !important;border-radius:10px !important;color:#fff;line-height:33px;border:0;padding:8px 98px;width:fit-content;margin:0 auto 40px;display:block;}
.vacation-landing-call .location-bx{bottom:10px !important;top:inherit !important;left:31px;right:inherit !important;}
.what-kind .content:first-child{text-align:left;font-size:20px !important;padding:0 15px;text-transform:inherit !important;margin-bottom:1px;}
.featured-bx{margin-left:30px;}
.deal-div .offer-box h1{font-size:28px !important;margin-top:16px;}
.deal-div .padding-mob-deal{padding:30px 15px !important;}
.deal-div .from-circle{top:calc(100% - 18em);left:calc(100% - 7em);}
.vacation-landing-talk .col-xl-4{flex:0 0 100% !important;max-width:100% !important;}
.home-bx-text{padding:45px 30px;height:auto;}
.min-height-title{min-height:0 !important;}
.what-kind .vacation-landing-call{flex:0 0 100% !important;max-width:100% !important;}
.heading-content .content{font-size:20px !important;}
.news-order-mob h1{order:1;}
.news-order-mob .owl-slider-home-news{order:2;}
.news-order-mob p{order:3;}
.information-div .col-lg-3{width:100%;flex:inherit !important;}
.home-landing-mob{border-radius:0px !important;}
.visible-mobile{display:block !important;float:right;font-size:24px;margin-right:10px;}
.home-landing-mob .border-right{border-color:#ccc !important;padding:10px;float:left;width:50%;}
.home-landing-mob .border-right:first-child{border-right:1px solid #ccc !important;}
.home-landing-mob .border-right:nth-child(3){border-right:1px solid #ccc !important;}
.home-landing-mob a{text-align:center;width:100%;float:left;}
.home-landing-mob p{text-align:center;font-size:12px;}
.home-landing-mob .border-right:nth-child(3){border-bottom:none;}
.vacation-landing-form-ui .form-box-landing{position:relative;top:0px;}
.vacation-experience .content{width:100% !important;}
.vacation-landing-form-ui .bc-search-container__form-box{top:auto !important;box-shadow:none !important;}
.vacation-banner-caption .location-bx{bottom:10px !important;top:inherit !important;left:31px;right:inherit !important;}
.landing-row .border-right{border-right:none !important;border-bottom:1px solid;}
.landing-row .border-right:last-child{border-bottom:none;}
.owl-slider-home .owl-theme .owl-nav, .owl-slider-home-news .owl-theme .owl-nav{display:none;}
.landing-row{text-align:left !important;}
.logo img{width:60%;margin-top:10px;}
.logo{text-align:center;}
.passengers-arrow-icon-blue{transform:translate(30%, 26%) !important;}
.passengers-arrow-icon-blue.booking-confirmation-arrow{transform:translate(178%, 14%) !important;}
.vehicle-radio-box ul{padding-left:5px !important;}
.border-right-mobile{border-right:1px solid #000;}
.trip-center-text{position:absolute;top:-9% !important;left:-30% !important;}
.trip-center-img .fa{font-size:20px !important;}
.trip-center-img{left:45% !important;}
.radio-btn-bx{margin-right:6px;width:auto !important;}
.custom-radio-input .checkmark:after{ }
.checkmark{position:absolute;top:0;left:0; border-radius:50%;border:1px solid #0079a5;border-radius:50%;}
.form-box-landing .ui-tabs .ui-tabs-nav li a{ }
.ui-tabs .ui-tabs-nav li { width: 33%}
#wrapper.toggled #sidebar-wrapper{width:100%;}
#wrapper2.toggled #sidebar-wrapper{width:100%;}
.menu-first-li-margin{margin-left:0px !important;}
.padding-0-mobile{padding:0px;}
.p-chart{padding-left:5px;padding-right:5px;font-size:15px;}
.travelforms{box-shadow:none;}
.offset-1{margin-left:0;}
.mobile-banner{bottom:10px;}
.mobile-banner .owl-dots{display:none;}
.mobile-margin-0{margin:0px !important;}
.mobile-padding-0{padding:0px !important;}
.cart-mobile{font-size:26px;}
.padding-mobile-20{padding:20px;}
.margin-mobile-10{margin-top:10px !important;}
.custom-date-slider .item:before{display:none;content:"" !important;background-color:#fff;width:0;}
.custom-date-slider .owl-nav .owl-prev{position:absolute;top:10px;left:0;}
.custom-date-slider .owl-nav .owl-next{position:absolute;top:10px;right:0;}
.bcf-center-ul li, .m8-auto{width:100% !important;}
.custom-radio-input{}
.content-pdf .img-fluid{width:20%;}
.p-body .add-on-box{padding:10px;}
.featured-bx-banner{position:absolute;top:0px;background-color:#173464;width:89px;padding:5px 10px;text-align:center;border-bottom-left-radius:10px;border-bottom-right-radius:10px;color:#fff;left:10%;text-transform:uppercase;}
.padding-mobile-none{padding:0px !important;}
.sailing-slide-box{margin-bottom:-5px;}
.filter-facets ul.nav li.dropdown.activity-listing-filter {width: 100%;margin: 0 0 15px 0;}
.bcf-2x {font-size: 1.75em;}
.close-menu .fa-times{width: 52px}
.sailing-cancellations-banner .home-b-text{top:20%; width: 85%;}
.sailing-cancellations-icon .bcf-icon-alert{font-size: 5em;}
.sailing-cancellations-icon{right:0}
}

@media screen and (max-width:480px){
#js-home-tab {margin: 0;} /*cancel margin for smaller phones*/
.border-wave{margin-top:0;margin-bottom:20px;}
.border-wave:before, .border-wave:after{display:none;}
.view-journey-sec .p-flow:after{left:25%;}
.view-journey-sec .p-flow:before{height:220px;background:#013366;}
.m-border-left{border-left:none;}
.view-journey-sec .p-chart{text-align:center !important;}
.m-margin-top-20{margin-top:20px;}
.activity-view-btn{font-size:12px;}
.pageLabel-packageHotelDetails .package-hotel-details-tabs{padding:0 !important;}
.hotel-detail-tab-calender ul.nav-tabs li{width:100%;}
.schedule-next{float:right;position:absolute;right:-20%;top:30%;}
.schedule-next{float:right;position:absolute;right:-20%;top:30%;}
.schedule-prev{position:absolute;left:-20%;top:30%;float:left;}
.sailing-slide-box{padding:5px 15px;margin-right:-4px;margin-bottom:-5px;}
.sailing-slide-box.inactiveLink{font-size:14px;padding:10px 18px;}
.sailing-slide-bx-date-div{font-size:12px;}
.p-chart .pc-1{font-size:12px;}
.p-cash .pc-2{font-size:18px;}
.p-sailing .owl-stage-outer .owl-stage .owl-item .p-detail{padding:10px 0;font-size:12px;}
.p-chart [class*="pc-"] button.btn{font-size:13px;}
.p-flow:before{content:'';background:#9b9b9b;height:169px;width:2px;top:18px;left:50%;position:absolute;}
.p-flow-half:before{height:132px;}
.travling_sec .nav-link{font-size:14px;}
.padding-0.padding-right-30{padding: 0 !important}
}

@media only screen and (max-width:768px){
#accommodation-finder-panel .vacation-calender-section .vacation-calender li { width: 100%;margin-bottom:30px;padding-right:0;} 
.travelforms #accommodation-finder-panel .package-hotel-details-ul .tab-content-return 
	{
		top:101px;
		right:0px;
	}
.package-list-sortby {max-width:250px;float:right;}
.acco-pagination {max-width:660px;}
.hotel-carousel-width{margin-right:-30px!important;}
.homepage-search-box { margin-top:-106px;}
.filter-li {width:100%;}
.homepage-search-box .ui-tabs .ui-tabs-nav li  { width: 33%; height: 47px; position: relative; margin-right:0.5%;}
.homepage-search-box .ui-tabs .ui-tabs-nav li:last-child { margin-right:0;}
.homepage-search-box .ui-tabs .ui-tabs-nav li a {width: 100%; min-width: 100%; white-space: pre-wrap; font-size:14px; padding: 10px 15px; text-align: center; margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.select-guest-custom .ui-accordion .ui-accordion-content{width:100%;}
.package-details-tabs .tab-content { border: 0 !important;}
.package-wizard ul.nav-wizard li{display:inline-block;margin-right:5px;float:left;}
.package-wizard ul.nav-wizard li .display-iflex span.display-block{font-size:12px; margin-top:10px;}
.package-wizard ul.nav-wizard li .nav-wizard-text{font-size:14px;}
.form-box-landing-mob .text-right{text-align:center;}
.returnLabel{margin-top:10px;}
.menu-mega-ui .navbar-nav>li>a{color:#0079a5;font-size:14px;}
.margin-top-17-mobile{margin-top:17px;}
.margin-bottom-17-mobile{margin-bottom:17px;}
.margin-top-20-mobile{margin-top:20px;}
.margin-top-15-mobile{margin-top:15px;}
.margin-bottom-20-mobile{margin-bottom:20px;}
.margin-bottom-30-mobile{margin-bottom:30px;}
.margin-top-30-mobile{margin-top:30px;}
.mob {padding:0;}
.availability-box{position:inherit;top:auto;width:100%;}
.d-flex.hidden-lg p{text-align:left !important;}
.d-flex.hidden-lg h4{text-align:left !important;}
.d-flex.hidden-lg strong{text-align:left !important;}
.indicator span{top:0px;}
.indicator:before{left:39%;}
.package-map-text{margin-top:0px;}
.map-wrap{min-height:350px;}
.padding-50{padding:25px;}
.about-us-box{padding:25px;}
.available-room-right{padding-right:25px;}
h2{font-size:20px;}
.footer-social-icon li{margin-left:5px;}
.footer-social-icon li a i{font-size:26px;}
.sailing-ferry-name{margin-top:25px !important;}
.passengers-arrow-icon{margin:auto;}
.menu-mega-ui .navbar-nav>li>a, .menu-mega-ui .navbar-nav>li>a{padding:15px 20px;}
.landing-row .border-right:nth-child(2){border-right:0px !important;}
.col-lg-2.confirm-btn-bookable{position:inherit;right:0;bottom:0px;padding:0px;margin-top:30px;margin-bottom:30px;}
.home-b-text{left:0px;padding-left:20px; width: 100%; top:32.3333%; }
.verticallyMiddle{margin-top: 0;}
.home-b-text h1{font-style: normal;font-size: 40px;line-height: 48px;}

.menu-mega-ui .nav-value ul li{border-bottom:1px solid #ccc;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#003366;background-color:#e7e7e700;border-bottom:1px solid #ccc;}
.menu-mega-ui .mega-dropdown{border-bottom:1px solid #ccc; background: white;}
.navigation-mob-link-n a{color:#1179A2;font-weight:bold;}
.navigation-mob-link-n{border-bottom:1px solid #ccc;padding:10px;margin:0;}
.menu-mega-ui .open{border-bottom:0px;}
.menu-mega-ui .nav-value ul{padding-left:0px;}
.dropdown-toggle .down-a{float:right;font-size:22px;font-weight:200;vertical-align:middle;}
.navbar-collapse{width:-webkit-fill-available;z-index:9999;position:fixed;left:-1200px;background:#fff;color:#000;height:100%;top:72px;}
.menu-mega-ui .navbar-toggle, .menu-mega-ui .navbar-toggle:active, .menu-mega-ui .navbar-toggle:focus, .menu-mega-ui .navbar-toggle:hover{border:none;float:left;margin-left:15px;background:transparent;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:3px;}
.navbar-toggle{display:block}
.navbar-nav{float: none; width: 100%; margin: 0;}
.navbar-nav>li{float: none; width:100%}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:#ffffff;}
.navbar-brand{padding:15px 0px;}
.close-menu{margin-left:15px;margin-top:15px;}
.menu-mega-ui .navbar-nav>li>a{color:#0079a5;font-size:16px !important;}
.close-menu .fa-times{font-size:26px;}
.navbar-toggle span:nth-child(3){width:15px;}
.mega-dropdown-menu a{font-weight:normal;}
.mega-dropdown-menu p{padding-bottom:15px;margin:0;}
.mega-dropdown-menu ul li{width:100%}
.nav > li.dropdown.open .dropdown-menu{padding:0px;}
.navbar{margin-bottom:0;}
.dropdown-menu > li{display:block;}
.navbar-default .navbar-toggle .icon-bar{background-color:#003366;height:4px;}
.navbar-collapse.collapse{height: 100%; padding: 0; margin: 0;}
.navbar-nav .open .dropdown-menu {position: static;float: none;width: auto; margin-top: 0;background-color: transparent;border: 0;-webkit-box-shadow: none;box-shadow: none;}
.nav>li {position: relative;display: block;}
.open>.dropdown-menu {display: block;}
.navbar-right{float: none;}
.mobile-logo{display: block;}
.navbar .navbar-header .close-menu{float: left; display: none;}
.close-menu .fa-times{width: 52px}
.sailing-cancellations-banner .card-title {max-width:495px;max-height:170px;}
}

@media screen and (max-width:480px){.homepage-search-box .ui-tabs .ui-tabs-nav li a{min-width:auto;}
.activity-banner-text-box h1{font-size:32px;}
.indicator span{left:-12px;top:0px;}
.indicator:before{left:0;}
.indicator:after{left:0}
.padding-50{padding:15px;}
.about-us-box{padding:15px;}
.p-icon-box .p-icon{display:inline-block;padding:9px;}
.time-tab{font-size:16px;}
.p-chart .pc-1{font-size:12px;}
.p-cash .pc-2{font-size:18px;}
#accordion-returnPassenger .ui-accordion-content{width:92.8%;}
h2{font-size:18px;}
.p-sailing .owl-stage-outer .owl-stage .owl-item .p-detail{padding:10px 0;font-size:12px;}
.p-chart [class*="pc-"] button.btn{font-size:13px;}
.p-flow:before{content:'';background:#9b9b9b;height:169px;width:2px;top:18px;left:50%;position:absolute;}
.p-flow-half:before{height:132px;}
.travling_sec .nav-link{font-size:14px;}
.form-box-landing {position: relative; top:28px}
.waitlist-wrapper .btn.btn-secondary{width: 100%;}
}
@media only screen and (max-width: 390px) {
.flexbox-col.content-carousel-width .accommodation-image {max-width: 335px;}
.flexbox-col.content-carousel-width .banner-media {height:inherit!important;}
.no-js .owl-carousel, .owl-carousel.owl-loaded {max-width:320px;}
}
@media only screen and (max-width:375px){

.detail-departure-table{font-size:12px;}
.package-details-tabs { }
.padding-50{padding:10px;}
.about-us-box{padding:10px;}
.schedule-grid a{font-size:14px;}
.time-tab{font-size:14px;}
h4{font-size:16px;}
.sailing-slide-bx-date-div{font-size:12px;}
.sailing-slide-box{margin-right:5px;margin-bottom:-5px;}
.passenger-info-form .bc-accordion .ui-accordion .ui-accordion-content{width:91.9%;}
#accordion-returnPassenger .ui-accordion-content{width:91.9%;}
.package-wizard ul.nav-wizard li.active{width:40% !important;}
.package-wizard ul.nav-wizard li{width:10%;}
.package-wizard ul.nav-wizard li{margin-right:0px;}
.package-wizard ul.nav-wizard{padding:10px 0;}
.m-pb-2{padding-bottom:20px;}
.m-border-bottom{border-bottom:solid #fff 1px;}
.filter-li{width:100%;margin:0 0 15px 0;}
.payment-total span, .payment-total h5{padding:0 !important;}
.trip-center-img .fa{font-size:12px;}
.p-cash .pc-2{font-size:18px;}
.p-chart .pc-1{text-transform:uppercase;font-size:11px;white-space:normal;}
.p-chart [class*="pc-"] button.btn{font-size:10px;}
.custom-radio-input .checkmark:before {top: 3px;left: 3px;width: 16px;height: 16px;border-radius: 50%;background: #eee;}
.homepage-search-box .ui-tabs .ui-tabs-nav li{margin: 1px 1px 0 0;}
.discover-box-right-img .card-body a, .discover-box-left-img .card-body a{ display: inline-block;}
}

@media only screen and (max-width:320px){
h3{font-size:16px;}
.schedule-grid a{font-size:12px;}
.icon-truck-trailer-icons{width:72px;height:26px;}
.icon-truck-boat-icons{width:82px;height:22px}
.icon-large-rv-icons{width:74px;height:32px;}
.icon-rv-icons{width:62px;height:35px;}
.icon-camper-icons{width:53px;height:33px;}
.icon-suv-cargo-icons{width:58px;height:29px;}
.icon-van-cargo-icons{width:45px;height:34px;}
.passenger-info-form h4{font-size:15px;}
.passenger-select-field ul li{font-size:12px;}
#proceed_to_vehicle_selection_div{font-size:16px;width:145px;}
.vehicle-radio-box ul{padding-left:3px !important;}
.input-select-msg{font-size:12px;}
.vehicle-radio-box ul li{padding:0px 0px;}
#proceed_to_sailing_selection_div{font-size:16px;width:145px;}
#proceed_to_vehicle_selection_div span{position:absolute;left:17px;top:12px;}
#proceed_to_sailing_selection_div span{position:absolute;left:22px;top:12px;}
.sailing-slide-box{padding:5px 7px;}
.sailing-slide-box.inactiveLink{padding:10px 10px;}
.passenger-info-form .bc-accordion .ui-accordion .ui-accordion-content{width:90.5%;}
#accordion-returnPassenger .ui-accordion-content{width:90.5%;}
.package-wizard ul.nav-wizard li .nav-wizard-text{font-size:12px;text-transform:lowercase;}
.trip-center-img{left:47%;top:30%;}
.nav-tabs .nav-link{padding:14px 10px;}
.p-card{border:1px solid #e9e9e9;background:#f6f6f6;padding:10px 3px;margin:15px 0;}
.p-sailing .owl-nav .owl-prev{left:-6px;font-size:10px;}
.p-sailing .owl-nav .owl-next{right:-6px;font-size:10px;}
.p-sailing .owl-stage-outer .owl-stage .owl-item .p-detail{padding:10px 0;font-size:10px;}
.p-sailing .owl-nav [class*="owl-"]{height:30px;width:30px;padding-top:5px;text-align:center;border-radius:4px;top:20px;position:absolute;}
.p-sailing .owl-stage-outer .owl-stage .owl-item .p-detail{border-radius:10px 10px 0 0;text-align:center;text-transform:uppercase;padding:8px;background:#f6f6f6;position:relative;bottom:-6px;}
.p-sailing .owl-stage-outer .owl-stage .owl-item.center .p-detail{background:#0079a5;border-radius:10px 10px 0 0;text-transform:none;color:#fff;font-size:10px;position:inherit;}
.p-sailing{padding:0 20px;}
.booking-custom-accordion .ui-accordion-content{padding:10px !important;}
.over-length input{width:70%;margin-right:3px;height:30px;}
.over-length label{width:70px;}
.vehicle-radio-box .over-length input{width:67%;margin-right:3px;height:30px;}
.vehicle-radio-box .over-length label{width:55px;}
.total-weight label{width:157px !important;}
.total-weight input{width:85% !important;}
.over-length input{width:70%;margin-right:3px;height:30px;}
.over-length label{width:62px;}
.form-box-landing .ui-tabs .ui-tabs-nav li a{font-size:10px;}
.radio-btn-bx{margin-right:6px;width:auto !important;}
.font-12-mobile{font-size:12px;}
.custom-radio-input{display:block;position:relative;padding-left:27px;margin-bottom:5px;cursor:pointer;font-size:12px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding-top:3px;}
.page-PassengerSelectionPage .ui-accordion .ui-accordion-content{width:318px; }
.mob-selector .dropdown-menu {max-width:279px;}
}
@media screen and (min-width: 1400px){.indicator span { left: 16%;}}

@media all and (min-width: 40em) {.offers-grouped-component .js-list-box-width {width: 50%;}}
@media all and (min-width: 60em) {.offers-grouped-component .js-list-box-width {width: 33.33%;}}
@media screen and (min-width: 991px) and (max-width: 1200px) {.homepage-search-box .container .btn{font-size: 13px;}}
@media screen and (max-width:1200px) {
	.menu-display {display:inherit;}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
.menu-mega-ui .nav-value ul li{border-bottom:1px solid #ccc;}
.nav-value ul li:hover, .nav-value ul li:active, .nav-value ul li:focus, .nav-value ul li:visited{background:#0079A5;color:#fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#003366;background-color:#e7e7e700;border-bottom:1px solid #ccc;}
.menu-mega-ui .mega-dropdown{border-bottom:1px solid #ccc; background: white;}
.navigation-mob-link-n a{color:#1179A2;font-weight:bold;}
.navigation-mob-link-n{border-bottom:1px solid #ccc;padding:10px;margin:0;}
.menu-mega-ui .open{border-bottom:0px;}
.menu-mega-ui .nav-value ul{padding-left:0px;}
.dropdown-toggle .down-a{float:right;font-size:22px;font-weight:200;vertical-align:middle;}
.navbar-collapse{width:-webkit-fill-available;z-index:9999;position:fixed;left:-1200px;background:#fff;color:#000;height:100%;top:55px;}
.menu-mega-ui .navbar-toggle, .menu-mega-ui .navbar-toggle:active, .menu-mega-ui .navbar-toggle:focus, .menu-mega-ui .navbar-toggle:hover{border:none;float:left;margin-left:15px;background:transparent;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:3px;}
.navbar-toggle{display:block}
.navbar-nav{float: none; width: 100%; margin: 0;}
.navbar-nav>li{float: none; width:100%}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:#ffffff;}
.navbar-brand{padding:15px 0px; }
.close-menu{margin-left:0px;margin-top:15px; display: none;}
.menu-mega-ui .navbar-nav>li>a{color:#0079a5;font-size:16px !important;}
.close-menu .fa-times{font-size:26px; margin-left: 26px;}
.navbar-toggle span:nth-child(3){width:15px;}
.mega-dropdown-menu a{font-weight:normal;}
.mega-dropdown-menu p{padding-bottom:15px;margin:0;}
.mega-dropdown-menu ul li{width:100%}
.nav > li.dropdown.open .dropdown-menu{padding:0px;}
.navbar{margin-bottom:0;}
.dropdown-menu > li{display:block;}
.navbar-toggle .icon-bar{background-color:#003366;height:4px;}
.navbar-collapse.collapse{height: 100%; top:75px;}
.navbar-collapse{width: 50%;}
.navbar-nav .open .dropdown-menu {position: static;float: none;width: auto; margin-top: 0;background-color: transparent;border: 0;-webkit-box-shadow: none;box-shadow: none;}
.nav>li {position: relative;display: block;}
.open>.dropdown-menu {display: block;}
.navbar-right{float: none;}
.mobile-logo{display:block;}
.nav-overlay{background: #000;opacity: 0.5;position: fixed;top: 75px;left: 0;width: 100%;height: 100%; z-index: 99;}
.mobile-logo .navbar-brand img{max-width: 180px;}
.mobile-logo .navbar-toggle{border: none;float: left;margin-left: 15px;background: transparent;}
.header-region .container{margin: 0; padding: 0; width: 98%;}
.navbar-additional{padding-top: 8px;}
.navbar-additional .fa-angle-right{display: none;}
.navbar-additional .list-inline{margin-top: 10px;}
.navbar-minify-tablet{min-height:0px; border: none; }
ul.collapse-sailling{padding: 0;margin-top:80px;}
ul.collapse-sailling li{padding: 20px; background: #f5f5f5; border-bottom: 1px solid white; list-style: none; width:100%;margin-left:0;}
.menu-mega-ui .navbar-nav>li>a{padding: 15px 20px}
.mega-dropdown-menu a:hover, .mega-dropdown-menu a:focus{background: none;}
.mobile-logo {position: fixed;z-index: 99999;width: 100%;background: white; height: 75px; margin:0; border-bottom: 1px solid #ccc}
.dropdown-toggle .down-a{display:inline-block;}
.mobile-login-user-link, .mobile-menu-link{font-size: 12px;}
.top-header-links ul li{padding-right: 10px;padding-left: 10px;}
.header-region{height:75px; background: white; border-bottom: 1px solid #ccc}
}


@media screen and (min-width:700px) and (max-width:770px) {
	.owl-item {max-width: 720px;}
}
@media (max-width:340px) {
	.flexbox-col.content-carousel-width .accommodation-image {max-width: 280px!important;}
}
@media (max-width: 1024px) {
  .hero-text-box {
    margin-bottom: 0;
  }
  .home-b-text .card-title {
  	font-size: 40px;
  }
  .calender-box {max-width: inherit;}
  .hotel-carousel-width{margin-right:-15px;}
  #accommodation-finder-panel .row-fluid .fnt-14.text-left{margin-bottom:20px;}
  .vac-package .filter-form{padding:0;}
  .bc-accordion.ferry-drop:first-child, .bc-accordion.ferry-drop:nth-child(2) {width:100%;}
  .mob-navigation .mega-dropdown-menu .container.list-unstyled h2.heding-menu-1 {display:none;}
  .mob-navigation .mega-dropdown-menu .container.list-unstyled .p-ellipsis{margin-top:30px;}
  .quotes {padding:0;}
  .navbar-nav .dropdown-menu .navigator .p-ellipsis{display:none;}
  .navbar-nav .dropdown-menu .navigator .navigation-mob-link-n{padding-left:30px;}
  .navbar-nav .dropdown-menu .navigator .navigation-mob-link-n a{font-weight:800;}
  .navbar-nav .dropdown-menu .mob-img-box {display:none;}
  .owl-item {max-width: 940px;}
}
@media screen and (min-width:361px) and (max-width:420px) {
	.owl-item {max-width:370px;}
}
@media (max-width: 360px) {
	
	.page-travelandBoardingPage .home-b-text {top:90px;}
	.pageLabel--on-the-ferry .home-b-text {top: 210px;}
 	.home-b-text {top:35.8333%;}
	.home-b-text .card-title {max-height:120px; overflow: hidden;font-size:32px;}
	.pageLabel--travel-boarding-travel-vehicle-car-truck .home-b-text .card-title,
	.pageLabel--travel-boarding-foot-passenger-check-in .home-b-text .card-title,
	.pageLabel--travel-boarding-coach-bus-shuttle .home-b-text .card-title,
	.pageLabel--book-sailings-travel-agents-and-tour-operators .home-b-text .card-title {max-height:100px;}
	.ui-return {margin-left: 0;}
	.js-element-margin .banner-media, .yCmsContentSlot .banner-media {height: 450px;position: relative;}
	.package-hotel-details-content {position: relative;}
	.tab-content-depart {top: 27px;margin-top:0; max-width: 300px;}
	.vacation-calender-section .tab-content-depart {top: 140px;}
	.tab-return {margin-top: 20px;}
	.tab-content-return {top: 147px;margin-top:0;}
	.sailing-slide-box {padding: 5px 10px;}
	.sidebar-offcanvas {margin-top:30px;}
	#y_displaySortSelection .show-page-number {padding-right: 0; padding-top: 2px;margin-top:0;}
	#y_displaySortSelection .sort {padding-left:0;}
	#y_displaySortSelection .sort-by {padding-left:10px;}
	#y_displaySortSelection .activies-select {width: 120px;background-position-x:105px;}
	#y_displaySortSelection .blank {display: none;}
	.activity-listing-price-box button {padding:5px;}
	.sort {margin-top:0;}
	.mob {padding:0;}
	#js-roundtrip .nav-tabs li {width:48%;padding-right:15px;}
	#js-roundtrip .nav-tabs li:last-child {margin-left: 4%;}
	.bc-accordion.ferry-drop:first-child, .bc-accordion.ferry-drop:nth-child(2) {width:100%;}
	#js-roundtrip .nav-tabs li.cust-fullwidth {width:100%;padding-right:15px;}
	.page-homepage .bc-dropdown.calender-box {max-width:309px;min-width:inherit;}
	.package-list-sortby, .package-list-sortby .activies-select button {font-size:14px;}
	.package-list-sortby .activies-select {display:block;float:right;max-width:145px;}
	.bootstrap-select.btn-group .btn .caret {right:5px;}
	.page-packageListingPage .bootstrap-select.btn-group .btn .filter-option {overflow:inherit;}
	.cartid-display {width:100%;}
	.sailing-btn {padding:13px;}
	.y_fareResultTabContent .sailing-btn {padding:10px!important;}
	.page-homepage .vacation-calender .bc-dropdown.calender-box {max-width:307px;}
	.page-homepage .vacation-calender .bc-dropdown.calender-box.tab-content-return {top:101px!important;right:0;}
	.flexbox-col.content-carousel-width .banner-media {height:inherit;}
	.flexbox-col.content-carousel-width .accommodation-image {max-width:320px;}
	.mobile-sorter-drpdwn {margin-top:5px;}
	.mobile-sorter-drpdwn .package-list-sortby {float:left;}
	.sorter {margin-left:20px;}
	.page-dealActivityListingPage .vacation-h2,
	.y_activityReservationComponent {margin:30px 10px;}
	.page-dealActivityListingPage .btn.btn-primary {width:95%;margin:auto;}
	.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {padding:10px;}
	.mob-ferry-name {display:none;}
	.btn-txt {white-space:normal;}
	.cng-btn {padding-left:10px;}
	.cng-btn .sailing-btn {padding:5px 10px;}
	.mob-mb30 {margin-bottom:30px;}
	.navbar-minify-tablet .navbar-header {position:fixed;background:#fff;width:100%;height:100%;}
	.hotels-tab #accommodation-finder-panel .bc-accordion.ferry-drop {width:100%;}
	.hotels-tab .bc-accordion .ui-accordion .ui-accordion-content {z-index:11;width:307px;}
}