<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="custom-content">
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h4 class="h5 custom-headers">Neighbourhood Profile</h4>
            <ul class="small">
                <li>Famous for cherry-blossom viewing in March and April</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h4 class="h5 custom-headers">Key information</h4>
            <p></p>
            <ul class="small">
                <li>spacious guestrooms and suites</li>
                <li>Number of floors - 20</li>
                <li>View and club level spaces</li>
                <li>Top-floor presidential suite</li>
                <li>Authentic culinary experiences</li>
                <li>Full-service business center</li>
                <li>28,350 sq ft of meeting and event space</li>
                <li>Indoor pool with outdoor sundeck</li>
                <li>Fully equipped fitness center with fitness coaches and tennis courts</li>
            </ul>
        </div>
    </div>
</div>
