<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="font-size:14px;font-family:'Arial';font-weight:400;font-style:normal; margin:0;">
    <div style="width:510px; margin:auto; padding: 30px 50px; border:solid #ccc 1px;border-bottom-color:#000;">
            <div style="margin-bottom:20px;">
               <a href="https://www.bcferries.com" title="" class="" target="_blank"> <img align="left" alt="" src="https://gallery.mailchimp.com/432e4fa5bb8e2e6286451bb6d/images/8f88d060-b000-4f7f-91db-8424f93e636f.png" width="129" style="max-width:258px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnRetinaImage"> </a>
            </div>
            #foreach($reservationData in ${ctx.transportReservation.reservationData})
                #set($journeyRefNumber =  $reservationData.journeyReferenceNumber)
                #foreach($reservationItem in $reservationData.reservationItem)
                <table align="center" width="600" class="email-container">

                    <tr>
                        <td>An option booking has been made on </td>
                        <td>$date.format("dd/MMM/yyyy",$ctx.creationDate) $date.format("hh:mm a",$ctx.creationDate)</td>
                    </tr>
                    <tr>
                        <td>eBooking Ref #: </td>
                        <td>$reservationItem.eBookingReference</td>
                    </tr>
                    <tr>
                        <td colspan="2"> After you review, please follow up with the customer to advise whether the booking can be made.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Customer contact name:</td>
                        <td>${ctx.customerData.firstName} ${ctx.customerData.lastName}</td>
                    </tr>
                    <tr>
                        <td>Phone #:</td>
                        <td>#if(${ctx.customerData.contactNumber}) ${ctx.customerData.contactNumber} #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>$ctx.customerData.email</td>
                    </tr>
                    <tr>
                        <td>Account Name:</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    #set ($transportOfferings = $reservationItem.reservationItinerary.originDestinationOptions.get(0).transportOfferings)
                    #foreach($transportOffering in $transportOfferings)
                    #set ($originSector = $transportOffering.sector)
                    <tr>
                        <td>Departure Date:</td>
                        <td>$date.format("dd/MMM/yyyy",$transportOffering.departureTime) $date.format("hh:mm a",$transportOffering.departureTime)</td>
                    </tr>
                    <tr>
                        <td>Departure terminal(s):</td>
                        <td>$originSector.origin.name - $originSector.origin.location.name</td>
                    </tr>
                    <tr>
                        <td>Arrival Terminal(s):</td>
                        <td>$originSector.destination.name - $originSector.destination.location.name</td>
                    </tr>
                    #end
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    #foreach($passengerInfo in $reservationItem.reservationPricingInfo.itineraryPricingInfo.ptcFareBreakdownData)
                    <tr>
                        <td>Number of Passengers:</td>
                        <td>$passengerInfo.passengerTypeQuantity.quantity</td>
                    </tr>
                    <tr>
                        <td>Type of passengers:</td>
                        <td>$passengerInfo.passengerTypeQuantity.passengerType.name</td>
                    </tr>
                    #end
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    #set ($vehicleInfo = $reservationItem.reservationPricingInfo.itineraryPricingInfo.vehicleFareBreakdownDatas.get(0))
                    #if($vehicleInfo)
                    <tr>
                        <td>Vehicle Type:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.vehicleType.name) $vehicleInfo.vehicleTypeQuantity.vehicleType.name #else N/A #end </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Vehicle length:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.length) $vehicleInfo.vehicleTypeQuantity.length ft #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>Height:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.height) $vehicleInfo.vehicleTypeQuantity.height ft #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>Width:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.width) $vehicleInfo.vehicleTypeQuantity.width ft #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>Axels:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.numberOfAxis) $vehicleInfo.vehicleTypeQuantity.numberOfAxis #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>GVW:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.weight) $vehicleInfo.vehicleTypeQuantity.weight kg #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>Ground Clearance:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.groundClearance) $vehicleInfo.vehicleTypeQuantity.groundClearance in #else N/A #end</td>
                    </tr>
                    <tr>
                        <td>Adjustable:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.adjustable) Yes #else No #end</td>
                    </tr>
                    <tr>
                        <td>Livestock booking:</td>
                        <td>#if($vehicleInfo.vehicleTypeQuantity.carryingLivestock) Yes #else No #end</td>
                    </tr>
                    #end

                    #set ($reservationPricingInfo = $reservationItem.reservationPricingInfo)
                    <tr>
                        <td>Dangerous goods booking:</td>
                        <td>#if($reservationPricingInfo.carryingDangerousGood) Yes #else No #end</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                #end
            #end
             <div style="width:100%; float:left; text-align:center;">
                 <p style="font-weight:700;color:#666666;">Copyright © 2018 British Columbia Ferry Services Inc.</p>
             </div>

    </div>

</body>
</html>
