<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <div style="width:510px; margin:auto; padding: 50px 50px; border:solid #ccc 1px;border-bottom:none;overflow:hidden;">
        <div class="header" style="margin-bottom:10px;">
           <img src="${ctx.serverImagesMap.get("logo")}" alt="Logo" style="width:40%;">
        </div>
        Date Issued: $date.format("dd/MMM/YYYY", $date) $date.format("hh:mm:ss a", $date) <br>
        <p>${ctx.customerData.firstName},
        , thank you for sailing with BC Ferries, your booking is now confirmed with no waitlisted products.
        </p>
        <p>
            <a href="${ctx.orderGuid}" style="font-size:12px;text-decoration: none;font-weight: 700; color: rgb(7, 121, 165);">View or edit your booking</a>
        </p>
        <p> If you will be carrying dangerous goods, you must go online review the policies and complete, print and bring the required forms.</p>
        <br>
        <p>Please review the itinerary below to confirm details and to note the check-in time for this sailing</p>
        <br>
        <hr>
        #set($confirmationEmailCode = 0)
        #foreach($reservationData in ${ctx.transportReservation.reservationData})
            #set($journeyRefNumber =  $reservationData.journeyReferenceNumber)
            #foreach($reservationItem in $reservationData.reservationItem)
                #set($originDestinationRefNumber =  $reservationItem.originDestinationRefNumber)
                <br>
                    <img  src="cid:$journeyRefNumber$originDestinationRefNumber$confirmationEmailCode" alt="QR CODE" height="150" width="150" />
                <br>
                Booking Reference : $reservationItem.eBookingReference
                Date Issued : $date <br>
                Booked By :${ctx.salesApplication} <br>
                Booking Holder Info:<br>
                <div style="float:left;">
                    <p style="font-weight:700;margin:0;font-size:12px;line-height: 16px; color:#333333;">${ctx.customerData.firstName} ${ctx.customerData.lastName}</p>
                    #if(${ctx.customerData.address})
                        <p style="margin:0;font-size:12px;line-height: 16px;color:#333333;">$!ctx.customerData.address.streetName $!ctx.customerData.address.streetNumber</p>
                        <p style="margin:0;font-size:12px;line-height: 16px;color:#333333;">${ctx.customerData.address.city}, ${ctx.customerData.address.country}, ${ctx.customerData.address.postalCode}</p>
                    #end
                    #if(${ctx.customerData.contactNumber})
                        <p style="margin:0;font-size:12px;line-height: 16px;color:#333333;">${ctx.customerData.contactNumber}</p>
                    #end
                </div>
                <br>
                #if(${ctx.customerData.crmId})
                    Customer number: ${ctx.customerData.crmId}<br>
                    <br>
                #end
               BOOKING DETAILS</br>&nbsp;&nbsp;&nbsp;<br>
                #set ($transportOfferings = $reservationItem.reservationItinerary.originDestinationOptions.get(0).transportOfferings)
                #foreach($transportOffering in $transportOfferings)
                    #set ($reservationItinerary = $reservationItem.reservationItinerary)
                    #set($routeName = $reservationItinerary.route)
                    #set($durationTime = $reservationItinerary.duration)
                    #set ($originSector = $transportOffering.sector)
                    #set ($vehicleInfo = $reservationItem.reservationPricingInfo.itineraryPricingInfo.vehicleFareBreakdownDatas.get(0))
                    BOOKING REFERENCE : $reservationItem.eBookingReference <br>
                    #if($vehicleInfo)
                    Vehicle :    <br>
                    $vehicleInfo.vehicleTypeQuantity.height &nbsp;&nbsp;
                    $vehicleInfo.vehicleTypeQuantity.length &nbsp;&nbsp;
                    $vehicleInfo.vehicleTypeQuantity.vehicleType.name &nbsp;&nbsp;&nbsp;&nbsp;
                    ${ctx.currencySymbol}$numberTool.format("#0.00",$vehicleInfo.vehicleFare.totalFare)
                    #end
                    <br>
                    Ferry :
                    #if($transportOffering.transportVehicle.name)
                        $transportOffering.transportVehicle.name<br>
                    #else
                        $transportOffering.transportVehicle.code<br>
                    #end
                    Departs : $originSector.origin.name &nbsp;&nbsp; $originSector.origin.location.name<br>
                    Time / Date :  <span>$date.format("hh:mm a",$transportOffering.departureTime)</span> <span>$date.format("dd/MMM/yyyy",$transportOffering.departureTime)</span><br>
                    Arrives : $originSector.destination.name &nbsp;&nbsp; $originSector.destination.location.name<br>
                    Time / Date : <span>$date.format("hh:mm a",$transportOffering.arrivalTime)</span> <span>$date.format("dd/MMM/yyyy",$transportOffering.arrivalTime)</span><br>
                #end
                <br>
                <br>
                #foreach($passengerInfo in $reservationItem.reservationPricingInfo.itineraryPricingInfo.ptcFareBreakdownData)
                    $passengerInfo.passengerTypeQuantity.quantity x &nbsp;&nbsp; $passengerInfo.passengerTypeQuantity.passengerType.code &nbsp;&nbsp; $passengerInfo.passengerTypeQuantity.passengerType.name &nbsp;&nbsp;&nbsp;&nbsp; ${ctx.currencySymbol}$numberTool.format("#0.00",$passengerInfo.passengerFare.totalFare) <br>
                #end
                <br>
                #foreach($ferryOptionInfo in $reservationItem.reservationPricingInfo.ferryOption)
                    $ferryOptionInfo.product.qty x $ferryOptionInfo.product.name ${ctx.currencySymbol}$numberTool.format("#0.00",$ferryOptionInfo.product.totalFare.total)
                #end
                #set ($tax = $reservationItem.reservationPricingInfo.totalFare.tax)
                #set ($productFees = $reservationItem.reservationPricingInfo.totalFare.total)
                #set ($discount = $reservationItem.reservationPricingInfo.totalFare.discount)
                #if($reservationItem.reservationPricingInfo.totalFare.amountPaid)
                    #set ($amountPaid = $reservationItem.reservationPricingInfo.totalFare.amountPaid)
                #end
                #if($reservationItem.reservationPricingInfo.totalFare.payAtTerminal)
                    #set ($dueAtTerminal = $reservationItem.reservationPricingInfo.totalFare.payAtTerminal)
                #end
                Products & fees :  ${ctx.currencySymbol}$numberTool.format("#0.00", $productFees)    <br>
                Reservation fees : ${ctx.currencySymbol}$numberTool.format("#0.00", $tax)  <br>
                #if($discount > 0)
                    Discount :  ${ctx.currencySymbol}$numberTool.format("#0.00", $discount)    <br>
                #end
                #if($amountPaid)
                    Amount paid :      ${ctx.currencySymbol}$numberTool.format("#0.00", $amountPaid)       <br>
                #end
                #if($dueAtTerminal)
                    Due at Terminal :  ${ctx.currencySymbol}$numberTool.format("#0.00", $dueAtTerminal)    <br>
                #end
                <br>
                <div style="float:left;">
                    <p>
                        The Canada Revenue Agency (CRA) and Province of British Columbia regard the supply of ferry services as GST and PST exempt.
                        BC Ferries charges 5% GST as required under the applicable legislation on ancillary services such as cabin rentals, specialty lounges, food and retail services.
                    </p>
                </div>
                Terms and Condition Data <br>
                #set ($tAndC = $reservationItem.ferryTandCData)
                $tAndC.checkInText <br>
                $tAndC.additionalcheckInTitle <br>
                $tAndC.additionalcheckInText <br>
                <img  src="$tAndC.image" alt="TermsAndCondition" height="200" width="100%" />
            #end
            <br>
            #set ($index = $index+1)
        #end
    </div>
    <div style="width:510px; margin:auto; padding: 50px 50px; border:solid #ccc 1px;border-top:none;overflow:hidden;">
        <div class="header" style="margin-bottom:10px;">
           <img src="images/logo.png" alt="Logo" style="width:40%;">
        </div>
        <div style="background:#f2f1f1; padding:10px;margin-bottom:30px;color:#000;font-size:14px;line-height: 14px;font-weight: 700;text-align:center;">
           RECEIPT - PLEASE RETAIN
        </div>
        <div style="margin-bottom:20px;width:100%; float:left;"">
            <p style="color:#333;font-size: 12px;line-height: 14px;">
                <span style="width:48%; margin-right:15px;font-weight: 700;float:left;"> Booked by :</span>
                <span style="width:45%;float:left;">${ctx.salesApplication}</span>
            </p>
            <p style="color:#333;font-size: 12px;line-height: 14px;">
                <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Booking number: </span>
                <span style="width:45%;float:left;">${ctx.code} </span>
            </p>
            <p style="color:#333;font-size: 12px;line-height: 14px;">
                <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">GST number: </span>
                <span style="width:45%;float:left;">1000000000000000</span>
            </p>
            <p style="color:#333;font-size: 12px;line-height: 14px;">
                <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Purchase amount:</span>
                <span style="width:45%;float:left;">${ctx.currencySymbol}$numberTool.format("#0.00",${ctx.paymentData.purchaseAmount})</span>
            </p>
        </div>
        <div style="width:100%; float:left;">
            #if(${ctx.paymentData.cardPaymentData})
                <div style="float:left;">
                   <p style="font-size:12px;line-height: 16px;color:#000;">
                       <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Card Type: </span>
                       <span style="width:45%;float:left;">${ctx.paymentData.cardPaymentData.cardType}</span>
                   </p>
                   <p style="font-size:12px;line-height: 16px;color:#000;">
                       <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Authorization #:</span>
                       <span style="width:45%;float:left;">${ctx.paymentData.cardPaymentData.approvalCode}</span>
                   </p>
                   <p style="font-size:12px;line-height: 16px;color:#000;">
                       <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Date issued:</span>
                       <span style="width:45%;float:left;">$date.format("dd MMM yyyy hh:mm:ss",${ctx.paymentData.cardPaymentData.transactionDate})</span>
                   </p>
                   <p style="font-size:12px;line-height: 16px;color:#000;">
                       <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Card Number:</span>
                       <span style="width:45%;float:left;">${ctx.paymentData.cardPaymentData.cardNumber}</span>
                   </p>
                </div>
            #end
           #if(${ctx.paymentData.cashPaymentData})
            <div style="float:left; width:100%;">
                <p style="font-size:12px;line-height: 16px;color:#000;">
                   <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Card Receipt </span>
                   <span style="width:45%;float:left;">${ctx.paymentData.cashPaymentData.receiptNo}</span>
                </p>
                <p style="font-size:12px;line-height: 16px;color:#000;">
                   <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Amount Paid</span>
                   <span style="width:45%;float:left;">${ctx.currencySymbol}$numberTool.format("#0.00",${ctx.paymentData.cashPaymentData.amount})</span>
                </p>
            </div>
           #end
           #if(${ctx.paymentData.giftPaymentData})
               #foreach($giftPaymentData in ${ctx.paymentData.giftPaymentData})
                <div style="float:left; width:100%;">
                     <p style="font-size:12px;line-height: 16px;color:#000;">
                        <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Gift Card Number </span>
                        <span style="width:45%;float:left;">$giftPaymentData.giftCard</span>
                     </p>
                     <p style="font-size:12px;line-height: 16px;color:#000;">
                        <span style="width:48%; margin-right:15px;font-weight: 700;float:left;">Reference Number</span>
                        <span style="width:45%;float:left;">${ctx.currencySymbol}$numberTool.format("#0.00",$giftPaymentData.amount)</span>
                     </p>
                </div>
               #end
           #end
        </div>
        <div style="width:100%; float:left;margin-bottom:10px;">
            <div>
                This is a transactional or informational email that contains important details that BC Ferries must communicate to you in order to provide
                the best possible service. This is not a promotional email.
            </div>
            <div> This is a do not reply email. </div>
            <div style="float:left;margin-right:60px;">
              <p style="font-weight:700;color:#003366;margin:0;font-size:12px;line-height: 16px;">British Columbia Ferry Services Inc.</p>
              <p style="font-weight:400;margin:0;font-size:12px;line-height: 16px;">Customer Service Centre</p>
              <p style="font-weight:400;margin:0;font-size:12px;line-height: 16px;">Suite 500 – 1321 Blanshard Street, Victoria BC, V8W 0B7</p>
              <p style="font-weight:400;margin:0;font-size:12px;line-height: 16px;">1-888-BC-FERRY (1-888-223-3779)</p>
              <p style="margin:0; font-size:12px;line-height: 16px;"><a href="#">bcferries.com</a> &nbsp;&nbsp; <a href="#">customerservice@bcferries.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>
