<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<spring:htmlEscape defaultHtmlEscape="false" />

<p class="y_packageProcessingContent new-room">
    <spring:theme code="text.package.details.new.room.added"
                  text="New room"/>
</p>
