<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 15/12/18 15:57
  -->

<div class="custom-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <ul class="small">
                <li>Inner Harbour Pathway - 2 minute walk</li>
                <li>British Columbia Legislature -3-minute walk</li>
                <li>Royal BC Museum -3-minute walk</li>
                <li>The Bay Centre - 5 minute walk</li>
                <li>Beacon Hill Park- 16-minute walk</li>
            </ul>
        </div>
    </div>
</div>
