<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="panel panel-primary panel-list">
    <div class="panel-heading">
        <h3 class="title">Check In completed</h3>
    </div>
    <div class="panel-body">
        <div class="fieldset">
            <div class="row">
                <p>The countdown to your break away has really started now – it’s nearly time for your trip! So here are a few
                    last minute checks.</p>
                <p>We recommend arriving 2 hours before your flight to give yourself time to get through the airport. The boarding
                    gate closes 30 minutes before departure.</p>
                <p>You can bring ONE cabin bag up to a maximum size of 56 x 45 x 25cm which must be placed in the overhead locker.
                    Overhead locker space is limited, so on busy flights this may have to go into the hold. There are no weight
                    restrictions on your cabin bag.</p>
                <p>If you’ve only got a cabin bag, once you've checked in online and printed your boarding pass, you can head to
                    security. Just make sure any liquids you are bringing with you are 100ml or less and stored in a transparent
                    resealable bag measuring less than 20 x 20cm.</p>
            </div>
        </div>
    </div>
</div>
