<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="textpagetextpage-faqs">
    <div class="item_container">
        <h3>Reservations &amp; flight bookings:</h3>
        <p>
            <strong>By telephone:</strong> 02031234567
        </p>
        <p>
            <strong>Service hours:</strong><br/>Monday to Sunday<br/>00:00 to 24:00
        </p>
    </div>
    <div class="item_container">
        <h3>Baggage tracing:</h3>
        <p>
            <strong>By telephone:</strong> 02031234567
        </p>
        <p>
            <strong>Service hours:</strong><br/>Monday to Sunday<br/>00:00 to 24:00
        </p>
    </div>
    <div class="item_container">
        <h3>
            By mail
            <a href="mailto:contact@travelaccelerator.portaltech.co.uk">click here</a>
        </h3>
        <p>For written enquires about past flights or to provide feedback and to ensure a prompt response, please provide your
            full name, address, Miles &amp; More number or Feedback ID, if available, but no credit card details.</p>
    </div>
    <div class="item_container">
        <h3>MILES &amp; MORE SERVICE TEAM</h3>
        <p>
            <strong>Telephone*:</strong> 02031234567
        </p>
        <p>
            <strong>Service hours:</strong><br/>Monday to Sunday<br/>07:00 to 20:00
        </p>
        <p>*Calls cost no more than calls to geographic numbers (01 or 02). Calls from landlines are typically charged up to 10p
            per minute; calls from mobiles typically cost between 10p and 40p per minute.</p>
    </div>
</div>
