<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="nav_column">
    <div class="item">
        <ul class="facet_blockindent">
            <li>
                <a href="#a00">Executive Club</a>
            </li>
            <li>
                <a href="#b00">Baggage</a>
            </li>
            <li>
                <a href="#c00">Bookings</a>
            </li>
            <li>
                <a href="#d00">Getting ready to fly</a>
            </li>
            <li>
                <a href="#e00">Get help with...</a>
            </li>
            <li>
                <a href="#f00">Our telephone numbers, email and addresses</a>
            </li>
        </ul>
    </div>
</div>
