<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<a id="00"></a>
<div class="textpagetextpage-faqs">
    <div class="title_holder">
        <h2>FREQUENTLY ASKED QUESTIONS</h2>
    </div>
    <div class="item_container">
        <h3>
            <a id="a00"></a>
            Executive Club
        </h3>
        <p>How do I claim missing Avios or Tier Points on flights or other purchases?</p>
        <p>When do my Avios expire? How can I stop them expiring?</p>
        <p>How do I reset my login details?</p>
        <p>How do I review and update my personal information?</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="b00"></a>
            Baggage
        </h3>
        <p>How much baggage can I check in?</p>
        <p>How much hand baggage can I carry on?</p>
        <p>What can I put in my hand baggage?</p>
        <p>How do I arrange to carry extra or overweight baggage?</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="c00"></a>
            Bookings
        </h3>
        <p>How can I choose my seats for a flight?</p>
        <p>How can I correct a mistake with one of the names in my booking?</p>
        <p>How do I change the date or time of my flights?</p>
        <p>How do I cancel a booking?</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="d00"></a>
            Getting ready to fly
        </h3>
        <p>Do I need a visa for my journey?</p>
        <p>Does my passport need to be valid for a certain length of time after my trip?</p>
        <p>When should I check in? What ways can I check in?</p>
        <p>How can I find out about the safety of my destination?</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="e00"></a>
            Get help with...
        </h3>
        <p>Special assistance</p>
        <p>Flying with children</p>
        <p>Fear of flying</p>
        <p>Unusual Items</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="f00"></a>
            Our telephone numbers, email and addresses
        </h3>
        <p>Visit our Contact Us page</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
</div>
