<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div>
    <h4>If you are booking Economy fare, the following restrictions apply:</h4>
    <ul>
        <li>All fare(s) shown include all taxes, fees and charges as applicable.</li>
        <li>Non refundable</li>
        <li>Non cancellable</li>
        <li>Exclude checked baggage and sports equipment.</li>
        <li>Depending on the invoicing method selected, an Optional Payment Charge will be added to the displayed price. Please
            note that the OPC is not refundable.
        </li>
    </ul>
</div>
<div>
    <div>
        Check-in (hold) luggage:<br/>
    </div>
    <div>
        On the next page you can add check-in (hold) luggage to your booking and purchase extra offers, and you’ll be shown the
        relevant charges.<br/>
    </div>
    <div>
        Pre-booking your hold luggage online is much cheaper than paying at the airport, and much less hassle.<br/> <br/>
    </div>
</div>
<div>
    <div>
        Cabin bags: All fares<br/>
    </div>
    <div>
        You can bring ONE cabin bag up to a maximum size of 50x40x20cm.<br/> <br/>
    </div>
</div>

<div>
    <h4>If you are booking Economy Plus or Premium, the following restrictions apply:</h4>
    <ul>
        <li>All fare(s) shown include all taxes, fees and charges as applicable.</li>
        <li>Refundable and cancellable (additional fees will be applicable)</li>
        <li>Exclude checked baggage and sports equipment.</li>
        <li>Depending on the invoicing method selected, an Optional Payment Charge will be added to the displayed price. Please
            note that the OPC is not refundable.
        </li>
    </ul>

</div>

<div>
    <div>
        Check-in (hold) luggage:<br/>
    </div>
    <ul>
        <li>Fare includes one piece of standard hold baggage, one piece of cabin baggage with a maximum size of 50x40x20cm and one
            small under seat bag (handbag/laptop).
        </li>
        <li>On the next page you can add check-in (hold) luggage to your booking and purchase extra offers, and you’ll be shown
            the relevant charges.
        </li>
        <li>Pre-booking your hold luggage online is much cheaper than paying at the airport, and much less hassle.</li>
    </ul>
</div>
<div>
    <div>
        Cabin bags: All fares<br/>
    </div>
    <div>
        You can bring ONE cabin bag up to a maximum size of 50x40x20cm.<br/>
    </div>
</div>
