<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="textpage">
    <div class="item_container">
        <h4>
            <strong>How to use this site</strong>
        </h4>
        <p>Throughout the site you will find information icons, helping guide you through the booking process.</p>
        <p>At any point, you can call one of our Customer Service Assistance who will be happy to guide you through the booking
            process.</p>
    </div>
    <div class="item_container">
        <h4>
            <strong>Security</strong>
        </h4>
        <p>If you think your account was taken over by someone else, we can help you secure it. Please contact use on the number
            at the top of this page.</p>
        <p>
            Make sure that you choose a strong password.<br/>A strong password contains a mix of numbers, letters and symbols. It
            is hard to guess, does not resemble a real word, and is only used for this account.
        </p>
    </div>
    <div class="item_container">
        <h4>
            <strong>Privacy</strong>
        </h4>
        <p>When you use our website, you trust us with your information. We have published our online Privacy Policy to help you
            understand what data we collect, why we collect it, and what we do with it. This is important; we hope you will take
            time to read it carefully. And remember, you can find
            controls to manage your information and protect your privacy and security at My Account.</p>
    </div>
    <div class="item_container">
        <h4>
            <strong>Terms and Conditions</strong>
        </h4>
        <p>Our standard terms and conditions are the legal basis on which we are willing to do business with. We have worked hard
            to make our terms and conditions as clear and easy to read as possible. Please read these and contact our Customer
            Services for any clarification.</p>
    </div>
    <div class="item_container">
        <h4>
            <strong>Languages</strong>
        </h4>
        <p>Having trouble reading our content. Please contact our customer contact center and they will guide you through the
            process.</p>
    </div>
    <div class="item_container">
        <h4>
            <strong>Making a complaint</strong>
        </h4>
        <p>We are sorry your travel experience with us didn't meet your expectations To help us resolve your issue as quickly as
            possible, please email or call us and we will do our best to help.</p>
    </div>
    <div class="item_container">
        <h4>
            <strong>Feedback</strong>
        </h4>
        <p>We value your comments about our website. Please let us know what you think so that we can continue to improve it.</p>
    </div>
    <div class="item_container">
        <p>
            <strong>Any Other Questions?</strong> – please see our FAQ page.
        </p>
    </div>
</div>
