<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 24/04/19 23:48
  -->

<div class="js-accordion js-accordion-default">
	<h2>COMPARE ONLINE FARES</h2>
	<h4>Standard with reservation</h4>
	<div>
		<p>Full payment at time of booking</p>
	</div>
	<h4>Saver (our lowest fare)</h4>
	<div>
		<p>Full payment at time of booking</p>
	</div>
	<h4>Standard with reservation</h4>
	<div>
		<p>Reservation fee due at time of booking, Standard fare due at terminal at time of travel.</p>
	</div>
</div>
