<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="textpage">
    <p>Airline is committed to protecting your privacy, and takes its responsibilities regarding the security of customer
        information very seriously. This policy explains how we use customer information and how we protect your privacy.</p>
    <p>1. Use of Customer Information We require certain information to allow us to process your flight booking. Airline collects
        the details provided by you, together with information we learn about you from your use of our service and your visits to
        our web site and other sites accessible from
        them. We also collect information about the transactions you undertake including details of payment cards used.</p>
    <p>We may collect additional information in connection with your participation in any promotions or competitions offered by us
        and information you provide when giving us feedback.</p>
    <p>We will use your information to provide and personalise our service. We will also use your contact details to communicate
        with you. We may use your information to send you offers and news about airline products and services or those of other
        carefully selected companies which we think may be
        of interest to you. We may contact you by post, email, telephone (including SMS) or fax for these purposes. Your
        confirmation e-mails (which may include details of flight bookings or other services booked through our websites) may
        include marketing material which we may feel will be of interest to
        you from other third parties.</p>
    <p>Your data may be used for the following purposes: accounting, billing and audit, credit or other payment card verification
        and screening, immigration and customs control, safety, security, health, administrative and legal purposes, statistical
        and marketing analysis, systems testing,
        maintenance and development, customer surveys, customer relations and to help us in any future dealings with you, for
        example by identifying your requirements and preferences.</p>
    <p>Once you have registered with airline.com, you will be provided with access to a "Contact Preferences" page that will allow
        you to tailor our commercial communications to your preferences. You can opt-out of receiving e-mail updates at any time
        by going to My airline.com.</p>
    <p>If you do not want to receive commercial communications from us, please select your choices by using the opt-out box
        available on that page.</p>
    <p>You will also be able to unsubscribe by following the unsubscribe link in any of our email communications.</p>
    <p>We like to receive feedback from our customers to help us improve our service. We may contact you by post, e-mail,
        telephone or fax to ask your opinions.</p>
    <p>Please note there may be instances where it may be necessary for us to communicate with you for administrative or
        operational reasons relating, for example, to advise you of alterations to flights.</p>
    <p>We may also use and analyse the information that we collect so that we can administer, support, improve and develop our
        business.</p>
    <p>The information that you provide to us will be held in our systems, which are located on our premises or those of an
        appointed third party. We may also allow access to your information by other third parties who act for us for the purposes
        set out in this policy or for other purposes
        approved by you. It is possible that your data may be processed outside of Europe.</p>
    <p>2. Site tracking We use tracking software to monitor customer traffic patterns and site usage to help us develop the design
        and layout of the site to better meet the needs of visitors to airline.com. This software does not enable us to capture
        any personally identifying information.</p>
    <p>3. Security to protect your information and data retention When you book a flight or enter personally identifying
        information, your details are transmitted across the internet securely using high-grade encryption (128 bit).</p>
</div>
