<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="nav_column">
    <div class="item">
        <ul class="facet_blockindent">
            <li>
                <a href="#a00">Article 1: Definitions</a>
            </li>
            <li>
                <a href="#b00">Article 2: Applicability</a>
            </li>
            <li>
                <a href="#c00">Article 3: Tickets</a>
            </li>
            <li>
                <a href="#d00">Article 4: Fares, Taxes, Fees and Charges</a>
            </li>
            <li>
                <a href="#e00">Article 5: Reservations</a>
            </li>
            <li>
                <a href="#f00">Article 6: Check-in and Boarding</a>
            </li>
            <li>
                <a href="#g00">Article 7: Right to refuse Carriage</a>
            </li>
            <li>
                <a href="#h00">Article 8: Baggage</a>
            </li>
            <li>
                <a href="#i00">Article 9: Schedules, Delays, Cancellation of Flights</a>
            </li>
            <li>
                <a href="#j00">Article 10: Refunds</a>
            </li>
            <li>
                <a href="#k00">Article 11: Conduct Aboard Aircraft</a>
            </li>
            <li>
                <a href="#l00">Article 12: Arrangements for Additional Services</a>
            </li>
            <li>
                <a href="#m00">Article 13: Administrative Formalities</a>
            </li>
            <li>
                <a href="#n00">Article 14: Liability for Damage</a>
            </li>
            <li>
                <a href="#o00">Article 15: Time Limitations for Claims and Actions</a>
            </li>
            <li>
                <a href="#p00">Article 16: Other Conditions</a>
            </li>
            <li>
                <a href="#q00">Article 17: Shorttitles</a>
            </li>
        </ul>
    </div>
</div>
