<h3>Terms &amp; Conditions</h3> <p>All reservations are booked for one vehicle and one driver.</p> <p class="margin-bottom-20">Reservation fees and change fees are non-refundable.</p> <p><strong>Reservations will not be honoured and travel will revert to a first-come, first-served basis if you: </strong></p> <ul class="margin-top-20 margin-bottom-20"> <li>arrive after the reservation check-in has closed, 30 minutes prior to the scheduled departure;</li> <li>arrive before the reservation check-in has opened, more than 60 minutes prior to the scheduled departure.</li> </ul> <p>A reservation will only be honoured for the specific sailing you reserve and is valid only for the type and length of vehicle specified. If your reserved vehicle length differs by more than 5 feet (1.5 metres) at check-in, your reservation will not be honoured.</p>

<p>Vehicle length adjustments, sailing date and time changes can be made by accessing your account on line or by contacting our Customer Service Centre at 1-888-223-3779 in Canada and the USA, or 1-250-386-3431 outside Canada and the USA, on weekdays between 7:00 am and 8:00 pm and on weekends between 8:00 am and 6:00 pm Pacific Time.</p>
<p class="margin-top-20 margin-bottom-20"><strong>Closed Vehicle Deck Access</strong></p>
<p>In accordance with Transport Canada safety regulations, every passenger shall keep off a closed vehicle deck on a ferry that is underway. A 'closed vehicle deck' is a space that is enclosed at both ends with limited side openings.</p> <p class="margin-top-20 margin-bottom-20"><strong>Sailing Cancellations</strong></p>

<p>If you check-in for your reservation and the sailing is cancelled, we will make every effort to load you on the next available sailing. Customers with a reservation on the next scheduled departure will be loaded in advance of customers from the cancelled sailing. If we are unable to load you on the next available sailing, travel will revert to a first-come, first-served basis. If you choose not to travel, your fares will be fully refunded.</p>
<p>If your sailing is cancelled before you check-in, your reservation will be cancelled, your reservation fee will be refunded, and travel will revert to a first-come, first-served basis.</p>
<p class="margin-top-20 margin-bottom-20"><strong>* Reservation and Change Fees</strong></p>

<ul> <li>$10.00 reservation fee is applied to bookings made 7 days or more in advance of travel</li> <li>$17.00 reservation fee is applied to bookings made less than 7 days up to day before travel</li> <li>$21.00 reservation fee is applied to bookings made for same day travel</li> <li>$5.00 change fee is incurred each time you make a change to your reservation date, time or sailing</li> </ul>
