<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<a id="00"></a>
<div class="textpagetextpage-faqs">
    <div class="title_holder">
        <h2>TERMS &amp; CONDITIONS - GENERAL CONDITIONS OF CARRIAGE (PASSENGER AND BAGGAGE)</h2>
    </div>
    <div class="item_container">
        <h3>
            <a id="a00"></a>
            Article 1: Definitions
        </h3>
        <p>In these Conditions, except where the context otherwise requires or where it is otherwise expressly provided, the
            following expressions have the meanings respectively assigned to them, that is to say:</p>
        <h4>Additional Services</h4>
        <p>Any products and services purchased by You and which are provided by third party providers i.e. car hire, hotel
            accommodation.</p>
        <h4>Baggage</h4>
        <p>Your personal property accompanying You in connection with Your trip. Unless otherwise specified, it includes both Your
            Cabin Baggage and Your Hold Luggage.</p>
        <h4>Cabin Baggage</h4>
        <p>Equivalent to hand luggage and includes all personal items taken onboard by a Passenger and is any Baggage that is not
            Hold Luggage</p>
        <h4>Core Languages</h4>
        <p>English, French, German, Italian or Spanish.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="b00"></a>
            Article 2: Applicability
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="c00"></a>
            Article 3: Tickets
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="d00"></a>
            Article 4: Fares, Taxes, Fees and Charges
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="e00"></a>
            Article 5: Reservations
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="f00"></a>
            Article 6: Check-in and Boarding
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="g00"></a>
            Article 7: Right to refuse Carriage
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="h00"></a>
            Article 8: Baggage
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="i00"></a>
            Article 9: Schedules, Delays, Cancellation of Flights
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="j00"></a>
            Article 10: Refunds
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="k00"></a>
            Article 11: Conduct Aboard Aircraft
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="l00"></a>
            Article 12: Arrangements for Additional Services
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="m00"></a>
            Article 13: Administrative Formalities
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="n00"></a>
            Article 14: Liability for Damage
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="o00"></a>
            Article 15: Time Limitations for Claims and Actions
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="p00"></a>
            Article 16: Other Conditions
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
    <div class="item_container">
        <h3>
            <a id="q00"></a>
            Article 17: Shorttitles
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget elementum metus. Morbi et quam nec nunc pretium
            mollis non et urna. Duis vestibulum ipsum vel sapien sollicitudin consequat a in ex. Nunc in nunc sit amet purus
            aliquam laoreet. Nulla vel placerat velit. Vestibulum eget
            diam sed felis pretium tempus. Aenean placerat volutpat cursus. Quisque in eros arcu. Donec pretium malesuada odio,
            eget malesuada ex euismod sit amet. Duis bibendum cursus porttitor. Vivamus commodo consectetur interdum. Etiam vitae
            ligula congue, vestibulum arcu eu, feugiat turpis. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class=" pagetop-link" href="#00">back to top</a>
    </div>
</div>
