<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<div class="textpagetextpage-faqs">
    <div class="item_container">
        <h4>FLYING WITH CHILDREN</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lacus non tempor aliquam. In imperdiet leo
            est, sit amet posuere est convallis sit amet. Donec convallis urna vitae leo ornare, at sagittis lorem vehicula.
            Vestibulum sit amet nunc at nisi venenatis ultricies non non
            leo. Vivamus sit amet dolor tempor, bibendum sapien quis, posuere libero. Morbi facilisis ipsum felis, at dapibus elit
            ultrices elementum. Proin feugiat bibendum massa a aliquam. Aliquam erat volutpat. Praesent mollis nunc vitae augue
            fermentum, sed varius diam dignissim. Curabitur in consectetur
            arcu. Ut tincidunt, eros id pharetra porta, justo dui fermentum lectus, vel volutpat nisl nisi sit amet urna.
            Pellentesque porttitor, urna in mollis fringilla, odio nisl rutrum mauris, nec interdum sapien orci vitae lectus.</p>
    </div>
    <div class="item_container">
        <h4>TRAVEL PREPARATIONS AT HOME</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lacus non tempor aliquam. In imperdiet leo
            est, sit amet posuere est convallis sit amet. Donec convallis urna vitae leo ornare, at sagittis lorem vehicula.
            Vestibulum sit amet nunc at nisi venenatis ultricies non non
            leo. Vivamus sit amet dolor tempor, bibendum sapien quis, posuere libero. Morbi facilisis ipsum felis, at dapibus elit
            ultrices elementum. Proin feugiat bibendum massa a aliquam. Aliquam erat volutpat. Praesent mollis nunc vitae augue
            fermentum, sed varius diam dignissim. Curabitur in consectetur
            arcu. Ut tincidunt, eros id pharetra porta, justo dui fermentum lectus, vel volutpat nisl nisi sit amet urna.
            Pellentesque porttitor, urna in mollis fringilla, odio nisl rutrum mauris, nec interdum sapien orci vitae lectus.</p>
    </div>
    <div class="item_container">
        <h4>WITH CHILDREN AT THE AIRPORT</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lacus non tempor aliquam. In imperdiet leo
            est, sit amet posuere est convallis sit amet. Donec convallis urna vitae leo ornare, at sagittis lorem vehicula.
            Vestibulum sit amet nunc at nisi venenatis ultricies non non
            leo. Vivamus sit amet dolor tempor, bibendum sapien quis, posuere libero. Morbi facilisis ipsum felis, at dapibus elit
            ultrices elementum. Proin feugiat bibendum massa a aliquam. Aliquam erat volutpat. Praesent mollis nunc vitae augue
            fermentum, sed varius diam dignissim. Curabitur in consectetur
            arcu. Ut tincidunt, eros id pharetra porta, justo dui fermentum lectus, vel volutpat nisl nisi sit amet urna.
            Pellentesque porttitor, urna in mollis fringilla, odio nisl rutrum mauris, nec interdum sapien orci vitae lectus.</p>
    </div>
    <div class="item_container">
        <h4>LATEST TRAVEL ACCELERATOR FLIGHT REVIEWS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lacus non tempor aliquam. In imperdiet leo
            est, sit amet posuere est convallis sit amet. Donec convallis urna vitae leo ornare, at sagittis lorem vehicula.
            Vestibulum sit amet nunc at nisi venenatis ultricies non non
            leo. Vivamus sit amet dolor tempor, bibendum sapien quis, posuere libero. Morbi facilisis ipsum felis, at dapibus elit
            ultrices elementum. Proin feugiat bibendum massa a aliquam. Aliquam erat volutpat. Praesent mollis nunc vitae augue
            fermentum, sed varius diam dignissim. Curabitur in consectetur
            arcu. Ut tincidunt, eros id pharetra porta, justo dui fermentum lectus, vel volutpat nisl nisi sit amet urna.
            Pellentesque porttitor, urna in mollis fringilla, odio nisl rutrum mauris, nec interdum sapien orci vitae lectus.</p>
    </div>
</div>
