<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<style>
h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.panel-body .row {
	margin: 20px 0 10px 0;
}

.panel-body .img-responsive {
	padding-top: 20px;
}

.panel-image {
	border: 1px solid #20b3ce;
	padding: 5px !important;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 10px;
}

.panel-body ul li:before {
	content: "• ";
	color: #20b3ce;
}

.search-btn {
	padding-top: 20px;
}

figcaption {
	color: grey;
	text-align: center;
	padding-top: 10px;
}

</style>


<div class="col-xs-12 col-sm-12 col-md-12">
    <h4 class="h3 col-xs-12 col-sm-7 col-md-8">What Athens has to offer&hellip;</h4>
    <p class="col-xs-12">Think you know everything about Athens? Be ready for experience its beauty at every corner and the subtle
        combination of art, history, shopping and nature.</p>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Athens_Parthenon.jpg"
                 class="img-responsive panel-image" alt="Parthenon">
            <figcaption>Parthenon</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Top 10 Things To See:</h4>
            <ol>
                <li>Acropolis</li>
                <li>Parthenon</li>
                <li>Acropolis Museum</li>
                <li>Plaka</li>
                <li>Ancient Agora</li>
                <li>Syntagma Square</li>
                <li>Monastiraki</li>
                <li>Panathenaic Stadium</li>
                <li>Mount Lycabettus</li>
                <li>Temple of Hephaestus</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">The best spots for culture in Athens...</h4>
            <h5 class="h5">Acropolis</h5>
            <p>The Acropolis of Athens is an ancient citadel located on a high rocky outcrop above the city of Athens and contains
                the remains of several ancient buildings of great architectural and historic significance, the most famous being
                the Parthenon.</p>
            <h5 class="h5">Acropolis Museum</h5>
            <p>The Acropolis Museum is an archaeological museum focused on the findings of the archaeological site of the
                Acropolis of Athens.</p>
            <h5 class="h5">Panathenaic Stadium</h5>
            <p>The Panathenaic Stadium, also known as the Kallimármaro, is a multi-purpose stadium used for several events and
                athletics in Athens. The Stadium hosted the first modern Olympic Games in 1896.</p>
        </div>
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Athens_Museum.jpg"
                 class="img-responsive panel-image" alt="Museum">
            <figcaption>Acropolis Museum</figcaption>
        </figure>
    </div>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Athens_Beach.jpg"
                 class="img-responsive panel-image" alt="Beach">
            <figcaption>Beach on a Greek island</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Cruise around Greek islands</h4>
            <p>The greatness of being in Athens is that gives you the chance to enjoy amazing landscapes on a cruise. Here are
                some of the islands you can visit during such a trip.</p>
            <ul>
                <li>Santorini, Mykonos, Corfu</li>
                <li>Rhodes, Naxos, Paros</li>
                <li>Kos, Zakhyntos, Skiathos</li>
                <li>Samos, Hydra, Simi</li>
            </ul>
        </div>
    </div>
</div>
