<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<style>
h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.panel-body .row {
	margin: 20px 0 10px 0;
}

.panel-body .img-responsive {
	padding-top: 20px;
}

.panel-image {
	border: 1px solid #20b3ce;
	padding: 5px !important;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 10px;
}

.panel-body ul li:before {
	content: "• ";
	color: #20b3ce;
}

.search-btn {
	padding-top: 20px;
}

figcaption {
	color: grey;
	text-align: center;
	padding-top: 10px;
}

</style>


<div class="col-xs-12 col-sm-12 col-md-12">
    <h4 class="h3 col-xs-12 col-sm-7 col-md-8">What New York has to offer&hellip;</h4>
    <p class="col-xs-12">Think you know everything about New York? Be ready for experience its beauty at every corner and the
        subtle combination of art, history, shopping and nature.</p>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_NYC_Statue.jpg"
                 class="img-responsive panel-image" alt="Statue">
            <figcaption>Statue Of Liberty</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Top 10 Things To See:</h4>
            <ol>
                <li>Central Park</li>
                <li>Empire State Building</li>
                <li>Statue Of Liberty</li>
                <li>Metropolitan Museum of Art</li>
                <li>Times Square</li>
                <li>Rockefeller Center</li>
                <li>Brooklyn Bridge</li>
                <li>Madison Square Gardens</li>
                <li>Museum of Modern Art</li>
                <li>High Line</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">The best spots for culture in New York...</h4>
            <h5 class="h5">Central Park</h5>
            <p>Central Park is an urban park in middle-upper Manhattan, within New York City, New York. Central Park is the most
                visited urban park in the United States as well as one of the most filmed locations in the world.</p>
            <h5 class="h5">Empire State Building</h5>
            <p>The Empire State Building is a 102-story skyscraper located in Midtown Manhattan, New York City, on Fifth Avenue
                between West 33rd and 34th Streets.</p>
            <h5 class="h5">Times Square</h5>
            <p>Times Square is a major commercial intersection and neighborhood in Midtown Manhattan, New York City, at the
                junction of Broadway and Seventh Avenue, and stretching from West 42nd to West 47th Streets.</p>
        </div>
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_NYC_Manhattan.jpg"
                 class="img-responsive panel-image" alt="Manhattan">
            <figcaption>Manhattan</figcaption>
        </figure>
    </div>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_NYC_Park.jpg"
                 class="img-responsive panel-image" alt="Park">
            <figcaption>Hans Christian Andersen statue in Central Park</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Museums in New York</h4>
            <p>The greatness of being in New York is that gives you the chance to explore number of museums, where you can find
                lots of masterpieces and historical artifacts. Here are some of the museum you can visit.</p>
            <ul>
                <li>Metropolitan Museum of Art</li>
                <li>Museum of Modern Art</li>
                <li>American Museum of Natural History</li>
                <li>Whitney Museum of American Art</li>
                <li>Solomon R. Guggenheim Museum</li>
                <li>Brooklyn Museum</li>
            </ul>
        </div>
    </div>
</div>
