<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<style>
h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.panel-body .row {
	margin: 20px 0 10px 0;
}

.panel-body .img-responsive {
	padding-top: 20px;
}

.panel-image {
	border: 1px solid #20b3ce;
	padding: 5px !important;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 10px;
}

.panel-body ul li:before {
	content: "• ";
	color: #20b3ce;
}

.search-btn {
	padding-top: 20px;
}

figcaption {
	color: grey;
	text-align: center;
	padding-top: 10px;
}

</style>


<div class="col-xs-12 col-sm-12 col-md-12">
    <h4 class="h3">What Paris has to offer&hellip;</h4>
    <p class="lead">Think you know everything about Paris? Be ready for experience its beauty at every corner and the subtle
        combination of art, history, shopping and nature.</p>
    <div class="row">
        <figure class="col-xs-12 col-sm-6">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Paris.jpg"
                 class="img-responsive panel-image" alt="Map">
            <figcaption>Notre Dame</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-6">
            <h4 class="h4">Top 10 Things To See:</h4>
            <ol>
                <li>Eiffel Tower</li>
                <li>Arc de Triomphe</li>
                <li>Champs-Élysées</li>
                <li>The Louvre</li>
                <li>Musée d'Orsay</li>
                <li>Sacré-Coeur</li>
                <li>Notre Dame de Paris</li>
                <li>Montmartre</li>
                <li>Saint-Chapelle</li>
                <li>Palais Garnier</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="h4">The best spots for culture in Paris...</h4>
            <h5 class="h5">Le Lucernaire</h5>
            <p>This place is a cultural crossroad and you won't regret to visit it. It is located in a former factory, it has its
                own cobbled street with 3 theatres which are: Théâtre Noir, Théâtre Rouge and Paradis, also counts with three
                cinema screens, a bookshop, an exhibition space, a bar and a
                restaurant, enjoy it!</p>
            <h5 class="h5">Guignol</h5>
            <p>If you want to be a child again you can't miss this. In most of Paris gardens, such as Parc Montsouris or Parc des
                Buttes Chaumont, exists performances that last 40 minutes and are low cost per person, so don't miss this
                chance.</p>
            <h5 class="h5">Maison Européenne de la Photographie (MEP)</h5>
            <p>This is a place not only for photographers but every person that wants to delightful with the beauty of images. It
                has a permanent collection but also retraces world photography from Koudelka to Sieff and Cartier-Bresson to
                Salgado.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="h4">Shopping in Paris</h4>
            <p>The greatness of being in Paris is that gives you the chance to get unique things from designers. Here are some
                essential boutiques that capture the shine of this city.</p>
            <ul>
                <li>Geek-chic: Lulu Berlu, Manga Story, Little Tokyo, Album and Maxxigames.</li>
                <li>Concept stores: French Touche, SoWeAre, French Trotters, Pop Market and La Fausse Boutique.</li>
                <li>Kids: Balouga, Libbellule et Coccinelle, Le Ciel est à Tout le Monde, Loulou Addict and Maison DoDuDinDon.
                </li>
                <li>Shoes: Comme des Chaussures, Mi-Prix, Garrice and Annabel Winship.</li>
                <li>Wine: La Cava des Papilles, Wine by One, La Cava de l'Insolite and Le Verre Volé.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="h4">A night out in Paris</h4>
            <p>There are many things to do in Paris each night, so we highly recommend you these activities:</p>
            <ul>
                <li>Check out some live jazz at Au Duc des Lombards or give a whirl going to Atelier de Charonne.</li>
                <li>Don't miss a big musical at the Théâtre du Châtelet where they always have the best in classic music and dance
                    performances.
                </li>
                <li>If you prefer some independent gigs and performances you must go to Point Ephémère, a great outdoor where you
                    can find all kind of artistic exhibitions in cutting edge pop, rock, electro and hip-hop.
                </li>
                <li>Party at La Bellevilloise which is a multidisciplinary centre full of acoustic sounds, cocktails and
                    exhibitions.
                </li>
                <li>And last but not least, see a film at Le Louxor, an Egyptian art deco cinema that promotes cultural and
                    artistic educational projects… You can enjoy a glass of wine on the upstairs bar.
                </li>
            </ul>
        </div>
    </div>
</div>
