<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<style>
h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.panel-body .row {
	margin: 20px 0 10px 0;
}

.panel-body .img-responsive {
	padding-top: 20px;
}

.panel-image {
	border: 1px solid #20b3ce;
	padding: 5px !important;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 10px;
}

.panel-body ul li:before {
	content: "• ";
	color: #20b3ce;
}

.search-btn {
	padding-top: 20px;
}

figcaption {
	color: grey;
	text-align: center;
	padding-top: 10px;
}

</style>


<div class="col-xs-12 col-sm-12 col-md-12">
    <h4 class="h3 col-xs-12 col-sm-7 col-md-8">What Venice has to offer&hellip;</h4>
    <p class="col-xs-12">Think you know everything about Venice? Be ready for experience its beauty at every corner and the subtle
        combination of art, history, shopping and nature.</p>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Venice_Pano.jpg"
                 class="img-responsive panel-image" alt="Venice">
            <figcaption>Panorama of Venice</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Top 10 Things To See:</h4>
            <ol>
                <li>Grand Canal</li>
                <li>Piazza San Marco</li>
                <li>Saint Mark's Basilica</li>
                <li>Doge's Palace</li>
                <li>Rialto Bridge</li>
                <li>San Marco Campanile</li>
                <li>Bridge Of Sighs</li>
                <li>Santa Maria della Salute</li>
                <li>Teatro La Fenice</li>
                <li>Ca' Rezzonico</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">The best spots for culture in Venice...</h4>
            <h5 class="h5">Grand Canal</h5>
            <p>The Grand Canal is a canal in Venice, Italy. It forms one of the major water-traffic corridors in the city. Public
                transport is provided by water buses and private water taxis, and many tourists explore the canal by gondola.</p>
            <h5 class="h5">Piazza San Marco</h5>
            <p>Piazza San Marco, is the principal public square of Venice, Italy, where it is generally known just as "the
                Piazza". All other urban spaces in the city are called "campi".</p>
            <h5 class="h5">Saint Mark's Basilica</h5>
            <p>The Patriarchal Cathedral Basilica of Saint Mark is the cathedral church of the Roman Catholic Archdiocese of
                Venice, northern Italy. It is the most famous of the city's churches and one of the best known examples of
                Italo-Byzantine architecture.</p>
        </div>
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Venice_Canal.jpg"
                 class="img-responsive panel-image" alt="Canals">
            <figcaption>Canals</figcaption>
        </figure>
    </div>
</div>
