<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<style>
h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.panel-body .row {
	margin: 20px 0 10px 0;
}

.panel-body .img-responsive {
	padding-top: 20px;
}

.panel-image {
	border: 1px solid #20b3ce;
	padding: 5px !important;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 10px;
}

.panel-body ul li:before {
	content: "• ";
	color: #20b3ce;
}

.search-btn {
	padding-top: 20px;
}

figcaption {
	color: grey;
	text-align: center;
	padding-top: 10px;
}

</style>


<div class="col-xs-12 col-sm-12 col-md-12">
    <h4 class="h3 col-xs-12 col-sm-7 col-md-8">What Nice has to offer&hellip;</h4>
    <p class="col-xs-12">Think you know everything about Nice? Be ready for experience its beauty at every corner and the subtle
        combination of art, history, shopping and nature.</p>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Nice_Town.jpg"
                 class="img-responsive panel-image" alt="Nice">
            <figcaption>Town view</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Top 5 Things To See Around Nice:</h4>
            <ol>
                <li>Cannes</li>
                <li>Monaco</li>
                <li>Cote d'Azur</li>
                <li>Saint Tropez</li>
                <li>Marseille</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">The best spots for culture around Nice...</h4>
            <h5 class="h5">Cannes</h5>
            <p>Cannes, a resort town on the French Riviera, is synonymous with glamour thanks to its world-famous film festival.
                Its Boulevard de la Croisette, curving along the coast, is lined with sandy beaches, upmarket boutiques and
                palatial hotels.</p>
            <h5 class="h5">Monaco</h5>
            <p>Monaco is an independent microstate on France’s Mediterranean coastline known for its glitzy casinos, yacht-lined
                harbor and prestigious Grand Prix motor race, which runs through Monaco’s streets once a year. </p>
            <h5 class="h5">Saint Tropez</h5>
            <p>St.-Tropez is a coastal town on the French Riviera, in the Provence-Alpes-Côte d'Azur region of southeastern
                France. Long popular with artists, the town attracted the international "jet set" in the 1960s, and remains known
                for its beaches and nightlife.</p>
        </div>
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Nice_Sea.jpg"
                 class="img-responsive panel-image" alt="Sea">
            <figcaption>Cote d'Azur</figcaption>
        </figure>
    </div>
    <div class="row">
        <figure class="col-xs-12 col-sm-5">
            <img src="_ui/addons/travelacceleratorstorefront/responsive/common/images/tripfinder/TripFinder_Nice_Monaco.jpg"
                 class="img-responsive panel-image" alt="Monaco">
            <figcaption>Monte Carlo</figcaption>
        </figure>
        <div class="col-xs-12 col-sm-7">
            <h4 class="h4">Visit the unique country of Monaco</h4>
            <p>Monaco is an independent microstate on France’s Mediterranean coastline known for:</p>
            <ul>
                <li>glitzy casinos,</li>
                <li>yacht-lined harbor,</li>
                <li>prestigious Grand Prix motor race.</li>
            </ul>
            <p>Monte Carlo, its major district, has an elegant belle epoque casino complex, ornate opera house and luxe hotels,
                boutiques, nightclubs and French and Italian restaurants.</p>
        </div>
    </div>
</div>
