<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 22/12/18 11:27
  -->

<div class="alert alert-warning" role="alert">


    <b>Why do we need this information?</b>

    <p>The personal information on this page is collected and may be used for the purposes of keeping you informed of situations
        that may impact service and for statistical purposes. Your phone number is required to create your account. You may use
        this phone number to redeem your reservation at the terminal.</p>

    <p>The information on this page is collected as authorized by the Freedom of Information and Protection of Privacy Act.</p>

    <p>If you choose not to receive email notifications, Service Notices can be viewed by going to www.bcferries.com. Service
        updates may also be obtained by calling 1-888-BCFERRY (1-888-223-3779). View our privacy statement</p>

    <p>If you have any questions about the collection of this information, please contact BC Ferries Customer Service Centre by
        calling 1-888-BCFERRY (1-888-223-3779) or by writing to BC Ferries, Customer Service Centre, Suite 500 - 1321 Blanshard
        Street, Victoria, BC V8W 0B7, or email us at custeromerservice@bcferries.com</p>
</div>
