<div class="container">
    <nav>
        <ul class="flexbox row">
            <li class="col-xs-6">Copyright &copy; 2017</li>
            <li class="col-xs-6"><a href="#">FAQ's</a></li>
            <li class="col-xs-6"><a href="#">Privacy Policy</a></li>
            <li class="col-xs-6"><a href="#">Terms &amp; Conditions</a></li>
            <li class="col-xs-6"><a href="#">Help</a></li>
            <li class="col-xs-6"><a href="#">Contact us</a></li>
        </ul>
    </nav>
</div>
