<nav class="navbar navbar-default navbar-fixed-top">
    <div class="user-options-wrapper">
        <div class="container simple-banner-component">
            <a href="/yacceleratorstorefront/" class="navbar-brand">
                <img src="assets/images/logo.svg" class="img-responsive" alt="Airline Store">
            </a>
            <div class="navbar-right">
                <ul class="user-options mt-10 flexbox row">
                    <li><a href="#">Register / Login</a></li>
                    <li><a href="#">Help</a></li>
                    <li>Contact us: 0203 4495 2322</li>
                    <li>
                        <ul class="languagecurrencycomponent">
                            <li>
                                <form id="y_currencyForm" action="/yacceleratorstorefront/_s/currency" method="post">
                                    <div class="form-group currency-select">
                                        <span class="control-label sr-only" for="currency-selector">Currency selector</span>
                                        <!-- Currency Picker -->
                                        <div class="currency-select position">
                                            <select id="currency-selector" class="y_currencySelector" style="display: none;">
                                                <option value="0" selected="selected">&pound;</option>
                                                <option value="1">&euro;</option>
                                                <option value="2">&dollar;</option>
                                            </select>
                                        </div>
                                        <!-- Currency Picker -->
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        <!-- / .container -->
    </div>
    <!-- /.container-fluid -->
    <div class="container" {%if HideMenu%}style="display: none;" {%
    /if%}>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="nav-link-login"><a href="#">Login / Register</a></li>
            <li {%if CurrentPage=='home'%}class="active"{%/if%}><a href="landing.html">Book Trip <span
                    class="sr-only">(current)</span></a></li>
            <li {%if CurrentPage=='travelInfo'%}class="active"{%/if%}><a href="#">Travel Information</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Business Users</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Using your miles</a></li>
                    <li><a href="#">Offes and New</a></li>
                    <li><a href="#">Join the Club</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </li>
            <li {%if CurrentPage=='tripFinder'%}class="active"{%/if%}><a href="trip-finder.html">Trip Finder</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
