<div class="owl-carousel main-image-carousel">
    <div class="item"><img src="assets/images/hotels/room01.jpg" alt="hotel room 01"></div>
    <div class="item"><img src="assets/images/hotels/room02.jpg" alt="hotel room 02"></div>
    <div class="item"><img src="assets/images/hotels/room03.jpg" alt="hotel room 03"></div>
    <div class="item"><img src="assets/images/hotels/room04.jpg" alt="hotel room 04"></div>
    <div class="item"><img src="assets/images/hotels/room05.jpg" alt="hotel room 05"></div>
    <div class="item"><img src="assets/images/hotels/room01.jpg" alt="hotel room 01"></div>
    <div class="item"><img src="assets/images/hotels/room02.jpg" alt="hotel room 02"></div>
    <div class="item"><img src="assets/images/hotels/room03.jpg" alt="hotel room 03"></div>
    <div class="item"><img src="assets/images/hotels/room04.jpg" alt="hotel room 04"></div>
    <div class="item"><img src="assets/images/hotels/room05.jpg" alt="hotel room 05"></div>
    <div class="item"><img src="assets/images/hotels/room01.jpg" alt="hotel room 01"></div>
    <div class="item"><img src="assets/images/hotels/room02.jpg" alt="hotel room 02"></div>
    <div class="item"><img src="assets/images/hotels/room03.jpg" alt="hotel room 03"></div>
    <div class="item"><img src="assets/images/hotels/room04.jpg" alt="hotel room 04"></div>
    <div class="item"><img src="assets/images/hotels/room05.jpg" alt="hotel room 05"></div>
    <div class="item"><img src="assets/images/hotels/room01.jpg" alt="hotel room 01"></div>
    <div class="item"><img src="assets/images/hotels/room02.jpg" alt="hotel room 02"></div>
    <div class="item"><img src="assets/images/hotels/room03.jpg" alt="hotel room 03"></div>
    <div class="item"><img src="assets/images/hotels/room04.jpg" alt="hotel room 04"></div>
    <div class="item"><img src="assets/images/hotels/room05.jpg" alt="hotel room 05"></div>
</div>
<div class="thumbnail-carousel-wrapper">
    <div class="owl-carousel thumbnail-carousel">
        <div class="item"><img src="assets/images/hotels/room_thumb01.jpg" alt="hotel room thumb 01"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb02.jpg" alt="hotel room thumb 02"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb03.jpg" alt="hotel room thumb 03"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb04.jpg" alt="hotel room thumb 04"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb05.jpg" alt="hotel room thumb 05"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb01.jpg" alt="hotel room thumb 01"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb02.jpg" alt="hotel room thumb 02"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb03.jpg" alt="hotel room thumb 03"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb04.jpg" alt="hotel room thumb 04"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb05.jpg" alt="hotel room thumb 05"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb01.jpg" alt="hotel room thumb 01"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb02.jpg" alt="hotel room thumb 02"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb03.jpg" alt="hotel room thumb 03"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb04.jpg" alt="hotel room thumb 04"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb05.jpg" alt="hotel room thumb 05"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb01.jpg" alt="hotel room thumb 01"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb02.jpg" alt="hotel room thumb 02"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb03.jpg" alt="hotel room thumb 03"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb04.jpg" alt="hotel room thumb 04"></div>
        <div class="item"><img src="assets/images/hotels/room_thumb05.jpg" alt="hotel room thumb 05"></div>
    </div>
</div>
