<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 30/11/18 18:15
  -->

<h3>Escape to Burano</h3>
<p>Flights to Burano from</p>
<p class="price">&pound;34 each-way</p>
<p>Flights plus 2 nights hotel from &pound;99 pp</p>
