<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="asm" tagdir="/WEB-INF/tags/addons/bcfassistedservicesstorefront/asm"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>

<spring:htmlEscape defaultHtmlEscape="false" />
<%-- JS configuration --%>
<script type="text/javascript">
    /*<![CDATA[*/
    var ASM_MESSAGES = {};
    ASM_MESSAGES.customerIdNotFound = '<spring:theme code="asm.emulate.customer.not.found" />';
    /*]]>*/
</script>
<div id="_asm">
	<script>
    	var body = document.getElementsByTagName("body")[0];
    	body.insertBefore(document.getElementById('_asm'), body.childNodes[0]);
    </script>
	<div class="ASM_header navigation navigation--top">
		<div class="first-top-row row">
			<div class="col-lg-12">
			<asm:redirect />
			<button class="ASM_close ASM_close_all closeBtn" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>
			<c:if test="${not empty asm_message}">
				<div class="ASM_alert ${asm_alert_class}">
					<spring:theme code="${asm_message}" arguments="${asm_message_args}" />
				</div>
			</c:if>
			<cms:component uid="ASMHeaderComponent" />
			<%-- logo text --%>
			<asm:logo />
			<c:choose>
				<c:when test="${not empty agent.uid}">
					<div id="_asmLogged" class="ASM_loggedin">

						<cms:component uid="agentDeclareComponent" evaluateRestriction="true"/>

						<div class="ASM_timer element-separator-height">
							<span id="sessionTimer" class="ASM_loggedin_text_name"><span class="ASM_loggedin_text_label hidden-xs hidden-sm hidden-md"> </span><span class='ASM_timer_count' id="timerCount"><script>document.getElementById('timerCount').innerHTML=Math.floor(${agentTimer}/60)+":00";</script></span>
								<spring:theme code="asm.emulate.timer.min" /></span>
							<button type="submit" id="resetButton" class="ASM-btn ASM-btn-reset" disabled>
								<spring:theme code="asm.emulate.reset" />
							</button>
							<script>var timer=${agentTimer};</script>
						</div>


						<div class="ASM_timer element-separator-height asm-find-text">
							${jalosession.getAttribute("salesChannelName")}
							<cms:component uid="pinPadIdFieldComponent" evaluateRestriction="true"/>
						</div>

						<cms:component uid="iceBarIdFieldComponent" evaluateRestriction="true"/>

						<div class="ASM_loggedin_text element-separator-height">
							<c:url value="/assisted-service/logoutasm" var="logoutActionUrl" />
							<form action="${logoutActionUrl}" method="post" id="asmLogoutForm" class="asmForm">
								<fieldset>
									<button type="submit" class="ASM-btn ASM-btn-logout" disabled>
										<spring:theme code="asm.logout" />
									</button>
								</fieldset>
							</form>
						</div>
					</div>
				</c:when>
			</c:choose>
		</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
			<c:if test="${empty agent.uid}">
				<cms:component uid="ASMLoginComponent" />
			</c:if>
			<c:if test="${not empty agent.uid}">
				<div class="ASM_session">
					<div id="_asmCustomer">
						<c:choose>
							<c:when test="${empty emulatedUser}">
								<cms:component uid="ASMEmulateUserComponent" />
							</c:when>
							<c:otherwise>
								<cms:component uid="ASMBindComponent" />
								<span class="ASM_end_session col-xs-12 col-sm-2 col-md-3"> <c:url value="/assisted-service/personify-stop" var="sessionEndActionUrl" />
									<form action="${sessionEndActionUrl}" method="post" id="_asmSessionEndForm" class="asmForm">
										<fieldset>
											<button type="submit" id="stopEmulate" class="ASM-btn ASM-btn-end-session" disabled>
												<spring:theme code="asm.emulate.end" />
												<span class="hidden-sm">&nbsp;<spring:theme code="asm.emulate.end.ending" /></span>
											</button>
										</fieldset>
									</form>
								</span>
							</c:otherwise>
						</c:choose>
						<c:if test="${not createDisabled}">
							<asm:createcustomerform />
						</c:if>
					</div>
				</div>
			</c:if>
		</div>
		</div>
		<cms:component uid="ASMFooterComponent" />
	</div>
	<div id="asmAutoComplete" class="asmAutoComplete"></div>
	<div id="asmAutoCompleteCartId" class="asmAutoComplete"></div>

	<asm:clearcartmodal/>
</div>
