<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 02/07/19 14:01
  -->

<div class="ySmartEditToolbars"
    style="position:absolute">
    <div>
        <toolbar data-css-class="ySmartEditTitleToolbar"
            data-image-root="imageRoot"
            data-toolbar-name="smartEditTitleToolbar"></toolbar>
    </div>
</div>
<div class="se-landing-page">
    <span class="se-landing-page-title"
        data-translate='se.landingpage.title' />

    <div class="se-landing-page-site-selection"
        data-ng-if="landingCtl.model != undefined">
        <se-dropdown data-field="landingCtl.field"
            data-qualifier="landingCtl.qualifier"
            data-model="landingCtl.model"
            data-id="landingCtl.sites_id"></se-dropdown>
    </div>

    <a href="{{landingCtl.backofficeLocation}}">
        {{landingCtl.backofficeLinkName}}
    </a>
    <span class="se-landing-page-label"
        data-translate='se.landingpage.label' />
    <div class="se-landing-page-catalogs">
        <div class="se-landing-page-catalog"
            data-ng-repeat="catalog in landingCtl.catalogs">
            <catalog-details data-catalog="catalog"
                data-is-catalog-for-current-site="$last"></catalog-details>
        </div>
    </div>
</div>
