<!--
  ~ Copyright (c) 2019 British Columbia Ferry Services Inc
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of British Columbia Ferry Services Inc("Confidential Information").
  ~ You shall not disclose such Confidential Information and shall use it only in accordance with the
  ~ terms of the license agreement you entered into with British Columbia Ferry Services Inc.
  ~
  ~ Last Modified: 02/07/19 14:01
  -->

<style>
.smartedit-margin-bottom{
	margin-bottom:25px;
}
.smartedit-margin-top{
		margin-top:25px;
}
.se-mu--fileinfo--field--input {
    width: 100%;
    border: 1px solid;
}
.padding-div-box{
	    padding-left: 25px;
    padding-right: 25px;
}
.select-filed{
	background-color: #fff;
    border: 1px solid #9a9a9a;
    border-radius: 0;
    padding: 10px 12.5px;
    font-size: 14px;
}
</style>
<div class="se-media-upload-form">

    <div class="container-fluid se-media-upload-form--toolbar">
        <div class="navbar-left se-media-upload-form--toolbar--title">
            <h4 class="se-media-upload-form--toolbar--title--h4">{{ctrl.i18nKeys.UPLOAD_IMAGE_TO_LIBRARY | translate}}</h4>
        </div>
        <div class="navbar-right se-media-upload-form--toolbar--buttons">
            <div class="y-toolbar">
                <div class="y-toolbar-cell">
                    <button class="btn btn-subordinate btn-lg navbar-btn se-media-upload-btn__cancel"
                            type="button"
                            data-ng-click="ctrl.onCancel()">{{ctrl.i18nKeys.UPLOAD_IMAGE_CANCEL | translate}}
                    </button>
                </div>
                <div class="y-toolbar-cell">
                    <button class="btn btn-default btn-lg navbar-btn se-media-upload-btn__submit"
                            type="button"
                            data-ng-click="ctrl.onMediaUploadSubmit()">{{ctrl.i18nKeys.UPLOAD_IMAGE_SUBMIT | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid se-media-upload--filename">
        <div class="row">
            <div class="se-media-upload--filename-col1 col-xs-10">
                <img ng-src="{{assetsRoot}}/images/image_placeholder.png">
                <div class="se-media-upload--fn--name">{{ctrl.getTruncatedName()}}</div>
            </div>
            <div class="se-media-upload--filename-col2 col-xs-2">
                <se-file-selector data-label-i18n-key="ctrl.i18nKeys.UPLOAD_IMAGE_REPLACE"
                                  data-accepted-file-types="ctrl.acceptedFileTypes"
                                  data-on-file-select="ctrl.onSelectCallback({files: files})"></se-file-selector>

            </div>
        </div>
    </div>
    <form>
        <div class="se-media-upload--fileinfo">
            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-description"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('description'), 'se-media-upload--fileinfo--label': true }">{{ctrl.i18nKeys.DESCRIPTION
                    | translate}}</label>
                <se-media-upload-field data-field="'description'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-description"
                      data-ng-repeat="error in ctrl.getErrorsForField('description')">{{error}}</span>
            </div>

            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-code"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('code')}">{{ctrl.i18nKeys.CODE |
                    translate}}*</label>
                <se-media-upload-field data-error="ctrl.hasError('code')"
                                       data-field="'code'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-code"
                      data-ng-repeat="error in ctrl.getErrorsForField('code')">{{error}}</span>
            </div>

            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-alt-text"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('altText') }">{{ctrl.i18nKeys.ALT_TEXT |
                    translate}}</label>
                <se-media-upload-field data-field="'altText'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-alt-text "
                      data-ng-repeat="error in ctrl.getErrorsForField('altText')">{{error}}</span>
            </div>
            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-caption"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('caption') }">{{ctrl.i18nKeys.CAPTION |
                    translate}}</label>
                <se-media-upload-field data-field="'caption'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-caption"
                      data-ng-repeat="error in ctrl.getErrorsForField('caption')">{{error}}</span>
            </div>
            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-locationTag"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('locationTag') }">{{ctrl.i18nKeys.LOCATION_TAG
                    | translate}}</label>
                <se-media-upload-field data-field="'locationTag'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-locationTag"
                      data-ng-repeat="error in ctrl.getErrorsForField('locationTag')">{{error}}</span>
            </div>
            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-featuredText"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('featuredText') }">{{ctrl.i18nKeys.FEATURED_TEXT
                    | translate}}</label>
                <se-media-upload-field data-field="'featuredText'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-featuredText"
                      data-ng-repeat="error in ctrl.getErrorsForField('featuredText')">{{error}}</span>
            </div>
            <div class="se-media-upload--fileinfo--field form-group">
                <label name="label-iconText"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('iconText') }">{{ctrl.i18nKeys.ICON_TEXT
                    | translate}}</label>
                <se-media-upload-field data-field="'iconText'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-iconText"
                      data-ng-repeat="error in ctrl.getErrorsForField('iconText')">{{error}}</span>
            </div>
            <div class="se-media-upload--fileinfo--field form-group  smartedit-margin-bottom">
                <label name="label-promoText"
                       data-ng-class="{ 'se-media-upload-has-error': ctrl.hasError('promoText') }">{{ctrl.i18nKeys.PROMO_TEXT
                    | translate}}</label>
                <se-media-upload-field data-field="'promoText'"
                                       data-model="ctrl.imageParameters"></se-media-upload-field>
                <span class="upload-field-error upload-field-error-promoText"
                      data-ng-repeat="error in ctrl.getErrorsForField('promoText')">{{error}}</span>
            </div>
<div class="padding-div-box smartedit-margin-bottom">
            {{ctrl.i18nKeys.CONVERT_IMAGE | translate}}
            <input type="radio" name="convertImage" value="no" checked="checked"
                   onclick="document.getElementById('conversionGroupDiv').style.display = 'none'"> {{ctrl.i18nKeys.NO |
            translate}}
            
            <input type="radio" name="convertImage" value="yes"
                   onclick="document.getElementById('conversionGroupDiv').style.display = 'block'">
            {{ctrl.i18nKeys.YES | translate}}<br>

            <div id="conversionGroupDiv" class="smartedit-margin-top" style="display:none">
                {{ctrl.i18nKeys.SELECT_CONVERSION_GROUP | translate}}
                <SELECT class="select-filed" id="conversionGroup">
                    <option value="BCFMediaConversionGroup" selected>{{ctrl.i18nKeys.BCFMediaConversionGroup | translate}}
                    </option>
                    <option value="BCFHotelMediaConversionGroup">{{ctrl.i18nKeys.BCFHotelMediaConversionGroup | translate}}
                    </option>
                </SELECT>
            </div>
            </div>
        </div>

    </form>
    <span data-ng-if="ctrl.isUploading"
          class="upload-image-in-progress">
        <!--<img src="static-resources/images/spinner.png"> {{ctrl.i18nKeys.UPLOADING | translate}}-->
    </span>
</div>
