@screenXs:480px;
@screenSm:768px;
@screenMd:992px;
@screenLg:1200px;

@screenXsMin:480px;
@screenSmMin:768px;
@screenMdMin:992px;
@screenLgMin:1200px;

@screenXsMax:767px;
@screenSmMax:991px;
@screenMdMax:1199px;

@screen-xs:@screenXs;
@screen-sm:@screenSm;
@screen-md:@screenMd;
@screen-lg:@screenLg;

@screen-xs-min:@screenXsMin;
@screen-sm-min:@screenSmMin;
@screen-md-min:@screenMdMin;
@screen-lg-min:@screenLgMin;

@screen-xs-max:@screenXsMax;
@screen-sm-max:@screenSmMax;
@screen-md-max:@screenMdMax;

@smartedit-lightblue: #32a0ec;

@smartedit-blue: #0486e0;
@smartedit-blue2: #2877cb;
@smartedit-blue3: #00c6ff;
@smartedit-blue4: #016cb7;
@smartedit-blue5: #1c9aed;
@smartedit-blue6: #b4dbf4;
@smartedit-blue7: #32A0EB;
@smartedit-blue8: #327fec;
@smartedit-blue9: #0760a4;
@smartedit-blue10: #7ac1f3;
@smartedit-blue11: #438eb9;
@smartedit-blue12: #93cdf5;
@smartedit-blue13: #66afe9;

@smartedit-darkblue: #172535;
@smartedit-darkblue2: #233243;

@smartedit-green: @default-green;
@smartedit-green1: #00be26;
@smartedit-green2: #00ff00;

@smartedit-grey: #e5f1f9;
@smartedit-grey2: #dbe3eb;
@smartedit-grey3: #8592a2;
@smartedit-grey4: #5f7084;
@smartedit-grey5: #f3f6f9;
@smartedit-grey6: #bdc6d2;
@smartedit-grey7: #313440;
@smartedit-grey8: #caddf0;
@smartedit-grey9: #212120;
@smartedit-grey10: #e0e9f0;
@smartedit-grey11: #d5d8dc;
@smartedit-grey12: #f8f8f8;
@smartedit-grey13: #d5dee8;
@smartedit-grey14: #9ba1a9;
@smartedit-grey15: #b7c1cd;
@smartedit-grey16: #d2dae4;
@smartedit-grey17: #d4d7dc;
@smartedit-grey18: #c6c6c6;
@smartedit-grey19: #feffff;
@smartedit-grey20: #e5eef5;
@smartedit-grey21: #27394f;
@smartedit-grey22: #ebeef1;
@smartedit-grey23: #dae2ea;
@smartedit-grey24: #445976;
@smartedit-grey25: #585858;
@smartedit-grey26: #0f0f0f;
@smartedit-grey27: #DBE3ED;
@smartedit-grey28: #F2F2F2;
@smartedit-grey29: #565656;
@smartedit-grey30: #a1aebd;
@smartedit-grey31: #f8faff;
@smartedit-grey32: #f4f6f7;
@smartedit-grey33: #dce2e8;
@smartedit-grey34: #757575;
@smartedit-grey35: #a4a9b9;
@smartedit-grey36: #edf1f5;
@smartedit-grey37: #d2dbe6;
@smartedit-grey38: #a5a8b7;
@smartedit-grey39: #f9fbfc;
@smartedit-grey40: #7f90a4;
@smartedit-grey41: #555555;

@smartedit-bluegrey: #444d52;
@smartedit-bluegrey2: #7c9eb2;

@smartedit-black: @black;
@smartedit-white: @white;

@smartedit-error: #f55f5f;
@smartedit-success: #2ec447;

@smartedit-red: @default-red;
@smartedit-red1: #f1291e;
@smartedit-red2: #f0514e;
@smartedit-red3: #ff3b30;

@smartedit-yellow: #fccf63;
@smartedit-orange: @default-orange;

@smartedit-border1:1px solid fade(@smartedit-blue, 35%);
@smartedit-border2: 1px solid fade(@smartedit-grey6, 35%);
@smartedit-border3: 1px solid fade(@smartedit-white, 35%);
@smartedit-border4: 1px solid @smartedit-blue10;

@font-weight--semibold: 600;
@font-weight--bold: 700;
@font-weight--medium: 500;
@font-weight--normal: 400;
@font-weight--book: 300;
@font-weight--light: 200;

@font-open-sans:"Open Sans", sans-serif;
@font-roboto:"Roboto", sans-serif;

@smartedit-gutter: 50px;

@icon-font-path:          "../../../dist/smartedit/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@bootstrap-path:          "techne/node_modules/bootstrap";
@hytech-path: "..";

@z-index-level-1: 1;
@z-index-level-2: 4;
@z-index-level-3: 27;
@z-index-level-4: 256; // For overlay
@z-index-level-5: 3125; // For elements out of the overlay